<div id="footerContainer">
	{{$userId := $.blogInfo.UserId}}
	<div class="container" id="footer">
        <div class="col-md-4">
          <h3>导航</h3>
          <ul>
          	<li><a href="{{$.indexUrl}}">主页</a></li>
          	{{range $.cates}}
			<li>
				<a href="{{$.cateUrl}}/{{.UrlTitle}}">{{.Title}}</a>
			</li>
			{{end}}
			<!-- 单页 -->
			{{range $.singles}}
			    <li class="{{if eq $.curSingleId .SingleId}}active{{end}}">
					<a href="{{$.singleUrl}}/{{.UrlTitle}}">{{.Title}}</a>
				</li>
			{{end}}
			
			<!-- 归档 -->
			<li class="{{if $.curIsArchive}}active{{end}}">
				<a href="{{$.archiveUrl}}">归档</a>
			</li>
			<li class="{{if $.curIsTags}}active{{end}}">
				<a href="{{$.tagsUrl}}">标签</a>
			</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>最近发表</h3>
          <ul>
          	{{range .recentPosts}}
          	<li title="{{.Title}}"><a href="{{$.postUrl}}/{{.UrlTitle}}">{{.Title}}</a></li>
          	{{end}}
          </ul>
       </div>
        <div class="col-md-4">
          <h3>友情链接 </h3>
          <ul>
          	{{if $.themeInfo.FriendLinks}}
          		{{range $.themeInfo.FriendLinks}}
					<li><a href="{{.Url}}" target="_blank">{{.Title}}</a></li>
          		{{end}}
          	{{end}}
		 </ul>
        </div>
    </div>
</div>
<script src="{{$.jQueryUrl}}"></script>
<script src="{{$.bootstrapJsUrl}}"></script>
<script src="{{$.siteUrl}}/js/bootstrap-hover-dropdown.js"></script>
<script>
// 搜索
function search(e) {
	var keywords = $("#searchInput").val();
	if(!keywords) {
		location.href = "{{$.searchUrl}}";
	} else {
		var tpl = '<form action="{{$.searchUrl}}" method="get">';
		tpl += '<input name="keywords" value="' + keywords + '" />';
		tpl += "</form";
		$(tpl).submit();
	}
}
</script>
