{{template "header.html" .}}

<div id="postsContainer">
	<div class="container">
		<h2>分类 - {{$.curCateTitle}}</h2>
	</div>
	<div id="posts">
		{{range $.posts}}
		<div class="each-post">
			<div class="title">
				<a href="{{$.postUrl}}/{{.UrlTitle}}" title="全文">
					{{.Title}}
				</a>
			</div>
			<div class="created-time">
				<i class="fa fa-bookmark-o"></i>
				{{if .Tags}} 
					{{blogTags $ .Tags}}
				{{else}}
					无
				{{end}}
				|
				<i class="fa fa-calendar"></i> 更新 {{.UpdatedTime | datetime}} 
				| 
				<i class="fa fa-calendar"></i> 创建 {{.CreatedTime | datetime}}
			</div>
			<div class="desc">
				{{.Abstract | raw}}
			</div>
			<a class="more" href="{{$.postUrl}}/{{.UrlTitle}}" title="全文">查看</a>
		</div>
		{{end}}
		<!-- 分页 -->
		{{template "paging.html" $}}
	</div>
</div>

{{template "footer.html" $}}
{{template "highlight.html" $}}

</body>
</html>