{{if gt $.paging.TotalPage 1}}

<!-- 上一页 -->
{{if gt $.paging.CurPage 1}}
    {{set . "prePageClass" ""}}
    {{set . "prePageUrl" (urlConcat $.pagingBaseUrl "page" (incr $.paging.CurPage -1)) }}
{{else}}
    {{set . "prePageClass" "disabled"}}
    {{set . "prePageUrl" "#"}}
{{end}}

<!-- 下一页 -->
{{if lt $.paging.CurPage $.paging.TotalPage }}
    {{set . "nextPageClass" ""}}
    {{set . "nextPageUrl" (urlConcat $.pagingBaseUrl "page" (incr $.paging.CurPage 1)) }}
{{else}}
    {{set . "nextPageClass" "disabled"}}
    {{set . "nextPageUrl" "#"}}
{{end}}

{{$.paging.CurPage}}/{{$.paging.TotalPage}}
<ul class="pager">
	<li class="{{$.prePageClass}}"><a href="{{$.prePageUrl}}">Pre</a></li>
	<li class="{{$.nextPageClass}}"><a href="{{$.nextPageUrl}}">Next</a></li>
</ul>

{{end}}