/src
pkg
bin2
bin/i18n
bin/leanote*
bin/release
bin/test.sh
bin/tmp
bin/test
public/upload
app/routes/routes.go
app/tmp/main.go
.DS_Store
.settings
.project
public/config.codekit
files
/node_modules
.idea
*.iml