.b-m-mpanel {
	background: #fff url(images/contextmenu/menu_bg.gif) left repeat-y; /* F0f0f0*/
	border: 1px solid #ccc;
	position: absolute;
	padding: 2px 0;
	z-index: 99997;
	left:0px;
	top:0px;
	/*shaddow*/
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	overflow: auto;
}
.b-m-split {
	height: 6px;
	background: url(images/contextmenu/m_splitLine.gif) center repeat-x;
	font-size: 0px;
	margin: 0 2px;
}
.b-m-item, .b-m-idisable, .b-m-ifocus
{
    padding: 4px 10px 4px 4px;
    cursor: default;
    line-height:1.2;
}
.b-m-idisable
{
    color:#808080;
}
.b-m-ibody, .b-m-arrow {
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.b-m-arrow {
	background: url(images/contextmenu/m_arrow.gif) right  no-repeat;	
}
.b-m-idisable .b-m-arrow
{
    background:none;
}
.b-m-item img, .b-m-ifocus img, .b-m-idisable img {
	margin-right: 8px;
	width: 16px;
}
.b-m-ifocus {
	/*background: url(images/contextmenu/m_item.gif) repeat-x bottom;*/
	background-color: #CDE3F6;
}
.b-m-idisable img {
	visibility:hidden;
}
.c-text{
	display: inline-block;
	padding-left:3px;
}
.b-m-icon {
	width: 23px;
	padding-left: 3px;
}