@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/open-sans2/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/open-sans2/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans2/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/open-sans2/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
/*"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",  "BBAlpha Sans", "S60 Sans", Arial, sans-serif;*/
::selection {
  background: #000000;
  color: #ffffff;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
}
::-webkit-selection {
  background: #000000;
  color: #ffffff;
}
*,
body {
  font-family: 'Open Sans', '微软雅黑', Arial, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', '微软雅黑', Arial, Tahoma, sans-serif;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
}
#headerContainer {
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}
#postsContainer,
#suggestion {
  background: #f5f5f5 url("../images/noise.png");
}
#postsContainer {
  margin-top: 60px;
}
section {
  background-color: #65bd77;
  color: #e2f3e5;
  margin-top: 60px;
}
.header {
  text-align: center;
  padding: 30px;
}
.header p {
  color: #d0ebd6;
  font-size: 16px;
}
.header .btn {
  padding: 10px 16px;
  font-size: 14px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 2px;
  margin: 20px 0;
}
.header .btn-primary {
  background-color: #25313e;
  border-color: #1f2a34;
}
.header h2 {
  font-size: 32px;
  color: #fff;
}
.preview {
  margin: auto;
  width: 850px;
  text-align: center;
}
.preview .img-header {
  height: 40px;
  width: 750px;
  margin: auto;
  border-radius: 5px 5px 0 0;
  text-align: left;
  background-color: #F4F4F4;
}
.preview .img-header img {
  box-shadow: none;
  margin: 10px;
  width: 50px;
}
.preview .mobile {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.preview .mobile .mobile-header {
  padding: 8px 15px;
  border-radius: 14px 14px 0 0;
  text-align: center;
  background-color: #2e3e4e;
}
.preview .mobile .mobile-header img {
  width: 30px;
}
.preview .mobile img {
  border: 3px solid #2e3e4e;
  border-bottom: 0;
  width: 160px;
}
/* header */
#header {
  color: #000000;
  position: relative;
  background-color: #fff;
}
#header h1 {
  margin: 0;
  padding: 0;
  line-height: 45px;
}
#blogNav {
  margin: 0;
  padding: 0;
  line-height: 60px;
}
#blogNav li {
  display: inline-block;
}
#blogNav li a {
  display: inline-block;
  padding: 0 10px;
  color: #1b252e;
}
#blogNav li a:hover {
  background-color: #eee;
}
#loginBtns {
  border-left: 1px solid #eee;
  border-color: rgba(200, 200, 200, 0.5);
  padding-left: 10px;
  line-height: 30px;
  margin-top: 15px;
}
#loginBtns a {
  display: inline-block;
  color: #1b252e;
  padding: 0 10px;
}
#loginBtns .btn-register {
  color: #fff;
  background-color: #8ec165;
  border-color: #8ec165;
  border-radius: 2px;
}
/* posts */
#posts {
  padding-top: 10px;
}
.btn-primary {
  background-color: green;
}
#loginContainer {
  position: relative;
}
input,
.form-control {
  border-radius: 2px !important;
  border-color: #d9d9d9;
  height: 40px;
  padding: 10px 16px;
}
.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.alert {
  border-radius: 2px;
  border: none;
  margin-bottom: 3px;
  display: none;
}
#loginForm {
  width: 320px;
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #30373f;
  z-index: 999;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}
#registerForm {
  padding-bottom: 20px;
}
#footer {
  background-color: #1b252e;
  color: #9db1c5;
  border-top: 1px solid #ccc;
  padding: 30px 0;
}
#footer a {
  color: #9db1c5;
}
#footer .col-md-6 {
  text-align: center;
}
#footer #beian a {
  font-size: 8px;
}
#aboutLeanote h2 {
  margin: 20px 0;
  text-align: center;
}
#aboutLeanote {
  padding: 30px;
}
#boxBody {
  background-color: #65bd77;
}
#box {
  margin: 0;
  color: #000;
  padding-top: 30px;
}
#box h1 {
  margin: auto;
  margin-bottom: 20px;
  width: 500px;
  color: #eee;
}
#logo {
  text-align: center;
}
#boxHeader {
  border-color: #e8e8e8;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 2px 2px 0 0;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
#boxForm {
  background-color: #fff;
  width: 500px;
  margin: auto;
  border-radius: 2px;
}
#boxForm form {
  padding: 20px 30px;
  padding-bottom: 30px;
}
#boxForm table {
  width: 100%;
}
.back {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 20px;
}
.back:hover {
  color: #eee;
}
#quickLinks {
  width: 500px;
  margin: auto;
  text-align: right;
}
#quickLinks a {
  color: #fff;
}
#quickLinks a:hover {
  color: #eee;
}
.line {
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
  background-color: transparent;
  border-width: 0;
  border-top: 1px solid #e8e8e8;
}
.line-dashed {
  border-style: dashed;
  background: transparent;
}
.btn {
  font-weight: 500;
  border-radius: 2px;
  border-radius: 3px;
}
.btn-github {
  padding-left: 12px;
  padding-right: 12px;
  color: #fff !important;
  background-color: #335397;
  border-color: #335397;
}
.btn-github:hover {
  color: #fff !important;
  background-color: #2d4984;
  border-color: #294279;
}
.btn > i.pull-left,
.btn > i.pull-right {
  line-height: 1.428571429;
}
.m-t-xs {
  margin-top: 5px;
}
#boxFooter {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #eee;
}
#boxFooter a {
  color: #eee;
}
.h {
  font-size: 170px;
  font-weight: 300;
  text-shadow: 0 1px 0 #d9d9d9, 0 2px 0 #d0d0d0, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.list-group-item > .fa-chevron-right {
  float: right;
  margin-top: 4px;
  margin-right: -5px;
  color: #ccc;
  margin-left: 10px;
}
#errorBox {
  width: 500px;
  margin: auto;
  padding: 20px 30px;
  padding-bottom: 30px;
}
#errorBox .error-info {
  padding-bottom: 10px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
