<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="leanote,leanote.com">
<meta name="description" content="leanote, {{msg $ "moto"}}">
<meta name="author" content="leanote">
<title>{{.title}}</title>

<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="/public/admin/css/admin.css" rel="stylesheet">
<style>
</style>

<script>
function log(o) {
	if(window.console) {
		console.log(o);
	}
}
</script>
</head>

<body>
<div id="headerContainer" class="navbar-fixed-top">
	<div class="container" style="clearfix" id="header">
		<div class="pull-left">
			<h1 id="logo" class="clearfix">
				<a href="/admin/index"></a>
				<span>Admin</span>
			</h1>
		</div>
	</div>
</div>