{{template "admin/top.html" .}}
	<div class="m-b-md"> <h3 class="m-b-none">Workset</h3> <small>Welcome you!</small> </div>
	<section class="panel panel-default"> 
		<div class="row m-l-none m-r-none bg-light lter"> 
			<div class="col-sm-6 col-md-3 padder-v b-r b-light"> 
				<span class="fa-stack fa-2x pull-left m-r-sm"> 
					<i class="fa fa-circle fa-stack-2x text-info"></i> 
					<i class="fa fa-male fa-stack-1x text-white"></i> 
				</span> 
				<a class="clear" href="#"> 
					<span class="h3 block m-t-xs"><strong>52,000</strong></span> 
					<small class="text-muted text-uc">users</small> 
				</a> 
			</div> 
			<div class="col-sm-6 col-md-3 padder-v b-r b-light lt"> 
				<span class="fa-stack fa-2x pull-left m-r-sm"> 
					<i class="fa fa-circle fa-stack-2x text-warning"></i> 
					<i class="fa fa-file-o fa-stack-1x text-white"></i> 
				</span> 
				<a class="clear" href="#"> 
					<span class="h3 block m-t-xs"><strong>1312,000</strong></span> 
					<small class="text-muted text-uc">notes</small> 
				</a> 
			</div>
		</div>
	</section>

	<!-- 最新动态 -->
	<section class="panel panel-default">
		<h4 class="font-thin padder">
			Leanote Events
		</h4>
		<ul class="list-group">
			<li class="list-group-item">
				<p>
					Wellcome
					<a href="#" class="text-info">
						@Drew Wllon
					</a>
					and play this web application template, have fun1
				</p>
				<small class="block text-muted">
					<i class="fa fa-clock-o">
					</i>
					2 minuts ago
				</small>
			</li>
			<li class="list-group-item">
				<p>
					Morbi nec
					<a href="#" class="text-info">
						@Jonathan George
					</a>
					nunc condimentum ipsum dolor sit amet, consectetur
				</p>
				<small class="block text-muted">
					<i class="fa fa-clock-o">
					</i>
					1 hour ago
				</small>
			</li>
			<li class="list-group-item">
				<p>
					<a href="#" class="text-info">
						@Josh Long
					</a>
					Vestibulum ullamcorper sodales nisi nec adipiscing elit.
				</p>
				<small class="block text-muted">
					<i class="fa fa-clock-o">
					</i>
					2 hours ago
				</small>
			</li>
		</ul>
	</section>
	
	<section class="panel panel-default">
		<form>
			<textarea class="form-control no-border" rows="3" placeholder="Suggestions to leanote"></textarea>
		</form>
		<footer class="panel-footer bg-light lter">
			<button class="btn btn-info pull-right btn-sm">
				POST
			</button>
			<ul class="nav nav-pills nav-sm">
			<!--
				<li>
					<a href="#">
						<i class="fa fa-camera text-muted">
						</i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-video-camera text-muted">
						</i>
					</a>
				</li>
			</ul>
			-->
		</footer>
	</section>	
	
{{template "admin/footer.html" .}}
{{template "admin/end.html" .}}