<nav class="nav-primary hidden-xs">
	<ul class="nav" id="nav">
	
		<li class="active" id="adminUserNav">
			<a href="index.html">
				<i class="fa fa-users icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					User 
				</span>
			</a>
			<!-- 导航列表 -->
			<ul class="nav lt">
				<li>
					<a href="/adminUser/index">
						<span>
							List
						</span>
					</a>
				</li>
				<li>
					<a href="/adminUser/add">
						<span>
							Add User
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li>
			<a href="/adminBlog/index">
				<i class="fa fa-file icon">
					<b class="bg-warning">
					</b>
				</i>
				<span>
					Blog
				</span>
			</a>
		</li>
		
		<li id="adminSettingNav">
			<a href="#layout">
				<i class="fa fa-cog icon">
					<b class="bg-warning">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					Setting
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="layout-c.html">
						<span>
							Register
						</span>
					</a>
				</li>
				<li>
					<a href="layout-c.html">
						<span>
							Login
						</span>
					</a>
				</li>
				<li>
					<a href="layout-r.html">
						<span>
							Email
						</span>
					</a>
				</li>
				<li>
					<a href="layout-h.html">
						<span>
							Share
						</span>
					</a>
				</li>
				<li>
					<a href="/adminSetting/blog">
						<span>
							Blog
						</span>
					</a>
				</li>
				<li>
					<a href="/adminSetting/demo">
						<span>
							Demo User
						</span>
					</a>
				</li>
			</ul>
		</li>
	
		<li>
			<a href="#layout">
				<i class="fa fa-columns icon">
					<b class="bg-warning">
					</b>
				</i>
				<span>
					Others
				</span>
			</a>
		</li>
	</ul>
</nav>