<nav class="nav-primary hidden-xs">
	<ul class="nav" id="nav">
	
		<li class="active">
			<a href="/admin/index">
				<i class="fa fa-dashboard icon">
					<b class="bg-success">
					</b>
				</i>
				<span>
					Dashboard
				</span>
			</a>
		</li>
		
		<li id="adminUserNav">
			<a href="#">
				<i class="fa fa-users icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					User 
				</span>
			</a>
			<!-- 导航列表 -->
			<ul class="nav lt">
				<li>
					<a href="/adminUser/index">
						<span>
							Users
						</span>
					</a>
				</li>
				<li>
					<a href="/adminUser/add">
						<span>
							Add User
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li>
			<a href="/adminBlog/index">
				<i class="fa fa-file icon">
					<b class="bg-warning">
					</b>
				</i>
				<span>
					Blog
				</span>
			</a>
		</li>
		<li id="adminEmailNav">
			<a href="#layout">
				<i class="fa fa-envelope-o icon">
					<b class="bg-warning">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					Email
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=email/set">
						<span>
							Configuration
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/template">
						<span>
							Template
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/sendToUsers">
						<span>
							Send Email to Users
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/send">
						<span>
							Send Email
						</span>
					</a>
				</li>
				<li>
					<a href="/adminEmail/list">
						<span>
							Email Logs
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li id="adminSettingNav">
			<a href="#layout">
				<i class="fa fa-cog icon">
					<b class="bg-info">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					Configuration
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=setting/home_page">
						<span>
							Home Page
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/demo">
						<span>
							Demo User
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/open_register">
						<span>
							Open Register
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/share_note">
						<span>
							Register Share Note
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/upload">
						<span>
							Upload File Size Limit
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/export_pdf">
						<span>
							Export PDF
						</span>
					</a>
				</li>
				
			</ul>
		</li>
		
		<li>
			<a href="#">
				<i class="fa fa-columns icon">
					<b class="bg-success">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				
				<span>
					Data
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=data/configuration">
						<span>
							Mongodb Tool Configuration
						</span>
					</a>
				</li>
				<li>
					<a href="/adminData/index">
						<span>
							Backup & Restore
						</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-space-shuttle icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				
				<span>
					Upgrade
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=upgrade/beta2">
						<span>
							v1.0-beta to v1.0-beta.2
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=upgrade/beta3">
						<span>
							v1.0-beta.2/3 to v1.0-beta.4
						</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
