<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-touch-fullscreen" content="yes">
<meta name=”apple-mobile-web-app-capable” content=”yes” />
<meta name="keywords" content="leanote,leanote.com">
<meta name="description" content="Leanote, {{msg $ "moto"}}">
<title>Leanote, {{msg $ "moto"}}</title>
<link href="/css/bootstrap-min.css" rel="stylesheet" />
<!-- 先加载, 没有样式, 宽度不定 -->
<link rel="stylesheet" href="/css/tinymce/skin.min.css" rel="stylesheet"/>
<!-- leanote css -->
<link href="/css/font-awesome-4.2.0/css/font-awesome-min.css" rel="stylesheet" />
<link href="/css/zTreeStyle/zTreeStyle-min.css" rel="stylesheet" />
<!-- mdeditor -->
<link href="/public/md/themes/default.css" rel="stylesheet" />
<!-- context-menu -->
<link rel="stylesheet" href="/js/contextmenu/css/contextmenu-min.css?id=1" type="text/css" />
<script>
var hash = location.hash;
if(hash.indexOf("writing") >= 0) {
	var files = '<link rel="stylesheet" href="/css/theme/writting-overwrite.css?id=3" type="text/css" id="themeLink" />';
} else {
	var files ='<link rel="stylesheet" href="/css/theme/{{if .userInfo.Theme}}{{.userInfo.Theme}}{{else}}default{{end}}.css?id=7" type="text/css" id="themeLink" />';
}
document.write(files);
</script>
<!-- For Develop writting mod -->
<script>
function log(o) {
	
}
</script>
</head>
<body>
	<div id="page">
		<div id="pageInner">
			<!-- 头部 -->
			<!-- <div id="headerContainer"> -->
			<div id="header">
			<!--  
				<div id="headerLeft" class="pull-left">
				</div>
			-->
				<div id="logo" class="pull-left">
					<!--<span>lea</span>note -->
					<!--<img style="height: 45px;" src="/images/logo/leanote_white.png" title="leanote, 不一样的笔记" alt="leanote">-->
				</div>
				<div id="switcher" class="pull-left">
					 <i class="fa fa-align-justify" id="leftSwitcher" title="{{msg . "leftHidden"}}"></i>
					 <span id="leftSwitcher2" title="{{msg . "leftShow"}}"></span>
				</div>
				<!-- search -->
				<div class="pull-left" id="searchWrap">
					<form class="navbar-form form-inline col-lg-2" id="searchNote">
						<input class="form-control" placeholder="{{msg . "SearchNote"}}" type="text" id="searchNoteInput">
					</form>
				</div>
				<!-- 全局按钮 -->
				<div class="pull-left" style="" id="newNoteWrap">
					<!-- 新建笔记 -->
					<div id="newMyNote">
						<a class="new-note" id="newNoteBtn" title="{{msg . "newNote"}}">
							<!--<i class="fa fa-file-o"></i>-->
							<span class="new-note-text">{{msg . "newNote"}}</span>
							<span class="new-note-text-abbr">{{msg . "new"}}</span>
						</a>
						<span class="new-split">|</span>
						<a class="new-note new-markdown" id="newNoteMarkdownBtn" title="{{msg . "newMarkdown"}}">
							<!-- <i class="lea-icon icon-markdown"></i> -->
							<span class="new-markdown-text">{{msg . "newMarkdown"}}</span>
							<span class="new-markdown-text-abbr">Md</span>
						</a>
						<span class="for-split"> - </span>
						<span id="curNotebookForNewNote" notebookId=""></span>
						<!--
						<div class="dropdown" style="display: inline-block">
							<a class="ios7-a dropdown-toggle"
								id="listNotebookDropdownMenu" data-toggle="dropdown"> 
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="dropdown-menu dropdown-list" id="searchNotebookForAddDropdownList">
								<input type="text" placeholder="{{msg . "SearchNotebook"}}" class="form-control" id="searchNotebookForAdd"/>
								<ul class="clearfix" role="menu" aria-labelledby="listNotebookDropdownMenu" id="notebookNavForNewNote">
								</ul>
							</div>
						</div>
						-->
					</div>
					
					<!-- 只为新建别人的笔记 -->
					<div id="newSharedNote" style="display: none">
						<a id="newSharedNoteBtn" class="new-note">
							<!--<i class="fa fa-file-o"></i> -->
							<span class="new-note-text">{{msg . "newNote"}}</span>
							<span class="new-note-text-abbr">{{msg . "new"}}</span>
						</a>
						<span class="new-split">|</span>
						<a id="newShareNoteMarkdownBtn" class="new-note new-markdown" title="{{msg . "newMarkdown"}}">
							<span class="new-markdown-text">{{msg . "newMarkdown"}}</span>
							<span class="new-markdown-text-abbr">Md</span>
						</a>
						<span class="for-split"> - </span>
						<span id="curNotebookForNewSharedNote" notebookId="" userId=""></span>
						<!--
						<div class="dropdown" style="display: inline-block">
							<a id="listShareNotebookDropdownMenu" class="ios7-a dropdown-toggle" data-toggle="dropdown"> 
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="dropdown-menu dropdown-list" id="searchNotebookForAddShareDropdownList" >
								<ul id="notebookNavForNewSharedNote"></ul>
							</div>
						</div>
						-->
					</div>				
				</div>
				
				<div class="pull-left" id="leanoteMsg">
					<span id="msg" style="display: inline-block;"></span>
					<span id="loading">
					</span>
				</div>
					
				<div class="pull-right" style="margin: 0 10px" id="myProfile">
					<div class="dropdown">
						<a class="dropdown-toggle" title="{{.userInfo.Username}}" data-toggle="dropdown" style="line-height: 60px;"> 
							<img alt="{{.userInfo.Username}}" title="{{.userInfo.Username}}" src="{{if .userInfo.Logo}}{{.userInfo.Logo}}{{else}}/images/blog/default_avatar.png{{end}}" id="myAvatar"/> 
							<span class="username">
								{{.userInfo.Username}}
							</span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu li-a" role="menu">
							<li role="presentation">
								<a href="/member" target="_blank">
								<i class="fa fa-user"></i> 
								{{msg . "memberCenter"}}
								</a>
							</li>
							
							<li role="presentation" id="setTheme">
								<a>
								<i class="fa fa-sun-o"></i> 
								{{leaMsg . "Theme"}}
								</a>
							</li>
							
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a href="/member/blog/index" target="_blank">
								<i class="fa fa-bold"></i> 
								{{msg . "blogSet"}}
								</a>
							</li>
							
							<li role="presentation" class="my-link" >
								<a target="_blank" href="{{$.userInfo.BlogUrl}}">
								<i class="fa fa-bold"></i>
								{{msg . "myBlog"}}</a>
							</li>
							
							<li role="presentation" class="divider my-link writing-mobile-hide"></li>
							<li role="presentation" class="my-link toggle-editor-mode writing-mobile-hide" >
								<a href="#writing" title="{{msg . "writingMode"}} ctrl/cmd+e"><i class="fa fa-rocket"></i>
								{{msg . "writingMode"}}</a>
							</li>
							
							{{if .isAdmin}}
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a target="_blank" title="{{msg . "admin"}}" href="/admin/index">
									<i class="fa fa-dashboard"></i> 
									<span>{{msg . "admin"}}</span>
								</a>
							</li>
							{{end}}
							<li role="presentation" class="divider"></li>
							<li role="presentation" onclick="logout()">
								<i class="fa fa-sign-out"></i> 
								{{msg . "logout"}}
							</li>
						</ul>
					</div>
				</div>
				<div class="pull-right top-nav writting-hide lea-blog">
					<a target="_blank" href="http://lea.leanote.com"> 
						Lea++
					</a>
				</div>
				
				<div class="pull-right top-nav writting-hide" id="myBlog">
					<a target="_blank" href="{{$.blogUrl}}/{{.userInfo.Username}}"> 
						{{msg . "myBlog"}}
					</a>
				</div>
				<div class="pull-right toggle-editor-mode top-nav" id="toggleEditorMode">
					<a href="#writing"><span>{{msg . "writingMode"}}</span></a>
				</div>
				
				{{if eq .userInfo.Email "demo@leanote.com"}}
				{{if .openRegister}}					
				<div class="pull-right top-nav" id="demoRegister">
					<span>
						{{msg . "demoRegister"}}
					</span>
				</div>
				{{end}}
				{{end}}
				
				<!--
				<ul id="setting" class="pull-right">
					<li class="dropdown messages">
						<a class="dropdown-toggle" data-toggle="dropdown"> 
							<span aria-hidden="true" class="icon se7en-flag"></span>
							<div class="sr-only">Messages</div>
							<p class="counter">3</p>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"> c@c.com 共享了笔记给你 是否接受? </a></li>
							<li><a href="#"> d@c.com 共享了笔记给你 是否接受? </a></li>
						</ul>
					</li>
					<li class="dropdown settings">
						<a class="dropdown-toggle" data-toggle="dropdown"> 
							<span aria-hidden="true" class="icon se7en-gear"></span>
							<div class="sr-only">Settings</div>
						</a>
						<ul class="dropdown-menu">
							<li><a class="settings-link blue"><span></span>Blue</a></li>
							<li><a class="settings-link green"><span></span>Green</a></li>
							<li><a class="settings-link orange"><span></span>Orange</a>
							</li>
							<li><a class="settings-link magenta"><span></span>Magenta</a>
							</li>
							<li><a class="settings-link gray"><span></span>Gray</a></li>
						</ul>
					</li>
				</ul>
				-->
				<div style="clear: both"></div>
			</div>
			<div id="mainContainer" class="clearfix">
				<div id="mainMask">
					<img src="/images/loading-30.gif" />
					<br />
					<br />
					loading...
				</div>
				<div id="leftNotebook">
					<div id="notebook">
						<div class="folderNote opened" id="myNotebooks">
							<div class="folderHeader clearfix">
								<i class="fa fa-book pull-left fa-left"></i> 
								<span class="pull-left">
									{{msg . "notebook"}}
								</span>
								<div class="pull-right" id="addNotebookPlus" title="{{msg . "addNotebook"}}">
									<i class="fa  fa-plus" title="{{msg . "addNotebook"}}"></i>
								</div>
							</div>
							
							<div class="folderBody">
								<input type="text" class="form-control" id="searchNotebookForList" placeholder="{{msg . "SearchNotebook"}}"/>							
								<ul class="ztree" id="notebookList"></ul>
								<ul class="ztree" id="notebookListForSearch"></ul>
							</div>
						</div>
						
						<div class="folderNote closed" id="myTag">
							<div class="folderHeader">
								<i class="fa fa-bookmark fa-left"></i>
								<span>
									{{msg . "tag"}}
								</span>
							</div>
	
							<ul class="folderBody clearfix" id="tagNav">
								<li data-tag="red"><a> <span class="label label-red">{{msg . "red"}}</span></a></li>
								<li data-tag="blue"><a> <span class="label label-blue">{{msg . "blue"}}</span></a></li>
								<li data-tag="yellow"><a> <span class="label label-yellow">{{msg . "yellow"}}</span></a></li>
								<li data-tag="green"><a> <span class="label label-green">{{msg . "green"}}</span></a></li>
							</ul>
						</div>
						
						<div class="folderNote closed" id="myShareNotebooks">
							<div class="folderHeader">
								<i class="fa fa-user fa-left"></i>
								<span>
									{{msg . "share"}}
								</span>
							</div>
	
							<ul class="folderBody" id="shareNotebooks">
								
							</ul>
						</div>
	
					</div>
					
					<!-- 缩小版 todo 不要展示, 点击展开即可 -->
					<div id="notebookMin">
						<!-- 这里隐藏, 不要 -->
						<div target="#notebookList" title="{{msg . "notebook"}}" class="minContainer">
							<i class="fa fa-book"></i>
							<ul class="dropdown-menu" id="minNotebookList">
							</ul>
						</div>
						<div target="#tagNav" title="{{msg . "myTag"}}" class="minContainer">
							<i class="fa fa-bookmark"></i>
							<ul class="dropdown-menu" id="minTagNav">
							</ul>
						</div>
						<div id="minShareNotebooks">
							<div class="minContainer" target="#friendContainer0" title="{{msg . "share"}}">
								<i class="fa fa-user"></i>
							</div>
						</div>
					</div>
					
					<!-- 
					底下隐藏/展开 
					<div id="notebookBottom">
						<i class="fa fa-angle-left" id="leftSwitcher"></i>
					</div>
					-->
				</div>
				<div class="noteSplit" id="notebookSplitter"></div>
				
				<div id="noteAndEditor">
					<div id="noteAndEditorMask">
						<img src="/images/loading-24.gif"/>
						<br />
						loading...
					</div>
					<div id="noteList">
					<div class="clearfix" id="notesAndSort" style="position: relative">
						<div class="pull-left">
							<!-- 我的笔记本 -->
							<div class="dropdown" id="myNotebookNavForListNav">
								<a class="ios7-a dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
									<span id="curNotebookForListNote">{{msg . "all"}}</span>
									<!--
									<i class="fa fa-angle-down"></i>
									-->
								</a>
								<!-- 如果notebook过多, 则会产生滚动 弃用
								<div class="dropdown-menu dropdown-list" style="left: 5px;">
									<ul role="menu" aria-labelledby="dropdownMenu1" id="notebookNavForListNote"></ul>
								</div>
								-->
							</div>
							
							<!-- 共享的笔记本 -->
							<div class="dropdown" id="sharedNotebookNavForListNav" style="display: none">
								<a class="ios7-a dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
									<span id="curSharedNotebookForListNote">{{msg . "all"}}</span>
									<!--
									<i class="fa fa-angle-down"></i>
									-->
								</a>
								<ul class="dropdown-menu" role="menu"
									aria-labelledby="dropdownMenu2" style="left: 5px;" id="sharedNotebookNavForListNote">
								</ul>
							</div>
						</div>
						<div class="pull-left" id="tagSearch" style="line-height: 38px">
						</div>
						<div id="sortType">
							<div class="dropdown">
								<a class="ios7-a dropdown-toggle" id="dropdownMenu1"
									data-toggle="dropdown"> 
									<!--  
									<i class="fa fa-sort-alpha-asc">
									</i>Sort <i class="fa fa-angle-down"></i>
									-->
								</a>
								<!--
								<ul class="dropdown-menu" role="menu"
									aria-labelledby="dropdownMenu1"
									style="right: 3px; ! important; left: -100px; min-width: 100px;">
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">创建日期</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">修改日期</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">标题</a></li>
									<li role="presentation" class="divider"></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">Separated </a></li>
								</ul>
								-->
							</div>
						</div>
					</div>
					<!-- 笔记列表 -->
					<!-- wrap 为了slimScroll -->
					<div id="noteItemListWrap">
						<ul id="noteItemList">
						</ul>
					</div>
				</div>
				
					<div class="noteSplit" id="noteSplitter"></div>
					
					<div id="note" class="read-only-editor">
					
					<!-- 遮罩, 为了resize3Columns用 -->
					<div id="noteMask" class="note-mask"></div>
					<!-- for loading -->
					<div id="noteMaskForLoading" class="note-mask"> <!-- z-index: 11 --> 
						<img src="/images/loading-24.gif"/>
						<br />
						loading...
					</div>
					<!-- for tips -->
					<div id="editorMask"> <!-- z-index: 10 --> 
						{{msg . "noNoteNewNoteTips"}}
						<br />
						<br />
						<div id="editorMaskBtns">
							<a class="note">{{msg . "newNote"}}</a>
							<a class="markdown">{{msg . "newMarkdownNote"}}</a>
						</div>
						<div id="editorMaskBtnsEmpty">
							{{msg . "canntNewNoteTips"}}
						</div>
					</div>
					<div id="batchMask" class="note-mask"> <!-- z-index: 99 --> 
						<div class="batch-ctn" id="batchCtn"></div>
						<div class="batch-info">
							{{leaMsg . "<span></span> notes selected"}}
							<p><i class="fa fa-cog"></i></p>
						</div>
					</div>
					
					<div id="noteTop">
						<!-- 左侧放tag, 右侧放按钮, 比如save, info, move, delete -->
						<div id="tool" class="clearfix">
							<!-- tag可以参考 mac的文件tag, 预定义一些颜色, 用户也可以自己输入-->
							
							<!--
							<div class="pull-left" id="noteTitleDiv">
								<input name="noteTitle" id="noteTitle" value="" placeholder="无标题">
							</div>
							-->
							
							<div class="pull-left" id="tag">
								<div id="tags" style="display: inline-block; line-height: 25px;">
								</div>
								<div class="dropdown" style="display: inline-block"
									id="tagDropdown">
									<i class="fa fa-bookmark-o"></i> 
									<a
										class="metro-a dropdown-toggle" data-toggle="dropdown"
										id="addTagTrigger" style="cursor: text; padding-left: 0">
										<span class="add-tag-text">
										{{msg . "clickAddTag"}}
										</span>
									</a> 
									<input type="text" id="addTagInput" />
									<ul class="dropdown-menu" role="menu" id="tagColor">
										<li role="presentation"><span class="label label-red">{{msg . "red"}}</span>
										</li>
										<li role="presentation"><span class="label label-blue">{{msg . "blue"}}</span>
										</li>
										<li role="presentation"><span class="label label-yellow">{{msg . "yellow"}}</span></li>
										<li role="presentation"><span class="label label-green">{{msg . "green"}}</span></li>
									</ul>
								</div>
							</div>
							
							<ul class="pull-right" id="editorTool">
								<li><a class="ios7-a " id="editBtn"
									data-toggle="dropdown" title="ctrl/cmd+e {{leaMsg . "Toggle Modify with Readonly"}}">
									<span class="fa"></span></a></li>
								<li><a class="ios7-a " id="saveBtn"
									data-toggle="dropdown" title="ctrl/cmd+s {{msg . "save"}}">
									<span class="fa fa-save"></span></a></li>
								<li class="dropdown" id="noteInfoDropdown">
									<a class="ios7-a dropdown-toggle" data-toggle="dropdown" title="{{msg . "Information"}}">
										<span class="fa fa-info"></span>
									</a>
									<div class="dropdown-menu" id="noteInfo"></div>
								</li>
								<li class="dropdown" id="attachDropdown">
									<a class="ios7-a dropdown-toggle" data-toggle="dropdown" id="showAttach" title="{{msg . "attachments"}}">
										<span class="fa fa-paperclip"></span>
										<span id="attachNum"></span>
									</a>
									<div class="dropdown-menu" id="attachMenu">
										<ul id="attachList">
										</ul>
										<form id="uploadAttach" method="post" action="/attach/UploadAttach" enctype="multipart/form-data">
							                <div id="dropAttach" class="dropzone">
							                    <a class="btn btn-success btn-choose-file">
													<i class="fa fa-upload"></i>
							                    	<span>{{msg . "Choose File"}}</span>
							                    </a>
							                    <a class="btn btn-default" id="downloadAllBtn">
								                    <i class="fa fa-download"></i>
							                    	<span>{{msg . "Download All"}}</span>
							                    </a>
							                    
							                    <input type="file" name="file" multiple/>
							                </div>
							                <div id="attachUploadMsg">
							                </div>
							            </form>
									</div>
								</li>
								
								<li><a class="ios7-a " id="contentHistory"
									data-toggle="dropdown" title="{{msg . "history"}}">
									<span class="fa fa-history"></span></a></li>
								<li><a class="ios7-a " id="tipsBtn"
									data-toggle="dropdown" title="{{msg . "editorTips"}}">
									<span class="fa fa-question"></span></a></li>
							</ul>
						</div>
						<div id="noteTitleDiv">
							<input name="noteTitle" id="noteTitle" value="" placeholder="{{msg . "unTitled"}}" tabindex="1" />
						</div>
						
						<!-- 只读时 -->
						<div id="noteReadTop">
							<h2 id="noteReadTitle"></h2>
							<div class="clearfix" id="noteReadInfo">
								<i class="fa fa-bookmark-o"></i>
								<span id="noteReadTags"></span>
								
								<!-- 修改时间 -->
								<i class="fa fa-clock-o"></i> {{msg . "update"}} 
								<span id="noteReadUpdatedTime"></span>  
								
								<!-- 修改时间 -->
								<i class="fa fa-clock-o"></i> {{msg . "create"}} 
								<span id="noteReadCreatedTime"></span>
							</div>
						</div>
					</div>
					<div id="editor" class="read-only">
						<!-- 编辑器 -->
						<div id="mceToolbar">
							<div id="mceToolbarContainer">
								<div id="popularToolbar" style="position: absolute; right: 30px; left: 0"></div>
								<a id="moreBtn"> <i class="fa more-fa"></i></a>
							</div>
							<!-- 查看信息 -->
							<div id="infoToolbar" class="info-toolbar invisible">
				              
				              <span class="lang">{{msg . "created"}}</span>: <span class="created-time"></span>
				              <span class="lang">{{msg . "updated"}}</span>: <span class="updated-time"></span>
				            </div>
						</div>
						<div class="editorBg"></div>
						<div id="leanoteNav" class="leanoteNav">
							<h1>
								<i class="fa fa-align-justify" title="{{msg . "nav"}}"></i>
								<span>{{msg . "nav"}}</span>
							</h1>
							<div id="leanoteNavContent" class="leanoteNavContent">
							</div>
						</div>
						
						<!-- leaui image drop image to editor-->
						<form id="upload" method="post" action="/file/uploadImageLeaui" enctype="multipart/form-data" style="margin-top: 5px;">
			                <div id="drop">
			                       {{leaMsg . "Drop images to here"}}
			                    <input type="file" name="file" multiple style="display: none"/>
			                </div>
			                <ul id="uploadMsg">
			                </ul>
			            </form>
	            
						<!-- 由此可以算高度 -->
						<div id="editorContent" name="editorContent" tabindex="2" /></div>
					</div>
					
					<div id="mdEditor" class="read-only">
						<div class="layout-wrapper-l1">
						    <div class="layout-wrapper-l2">
						        <div class="navbar navbar-default">
						            <div class="navbar-inner" id="wmd-button-bar">
						            	<div id="mdInfoToolbar" class="info-toolbar invisible">
							              <span class="lang">{{msg . "created"}}</span>: <span class="created-time"></span>
							              <span class="lang">{{msg . "updated"}}</span>: <span class="updated-time"></span>
							            </div>
						            	
						            	<div class="wmd-button-bar-inner clearfix">
							                <ul class="nav left-buttons">
							                    <li class="wmd-button-group1 btn-group"></li>
							                </ul>
							                <ul class="nav left-buttons">
							                    <li class="wmd-button-group2 btn-group"></li>
							                </ul>
							                <ul class="nav left-buttons">
							                    <li class="wmd-button-group3 btn-group"></li>
							                </ul>
							                <ul class="nav left-buttons">
							                    <li class="wmd-button-group4 btn-group"></li>
							                </ul>
							                <!-- 帮助 -->
							                 <ul class="nav left-buttons">
							                    <li class="wmd-button-group6 btn-group">
							                    	<li class="wmd-button btn btn-success" id="wmd-help-button" title="{{msg . "Markdown syntax"}}" style="left: 0px; display: none;"><span style="display: none; background-position: 0px 0px;"></span><i class="fa fa-question-circle"></i></li>
							                    </li>
							                </ul>
							               
							               <!--
							                <ul class="nav pull-right right-buttons">
							                    <li class="offline-status hide">
							                        <div class="text-danger">
							                            <i class="icon-attention-circled"></i>offline
							                        </div>
							                    </li>
							                    <li class="extension-buttons"></li>
							                </ul>
							                <ul class="nav pull-right title-container">
							                    <li><div class="working-indicator"></div></li>
							                    <li><a class="btn btn-success file-title-navbar" href="#"
							                        title="Rename document"> </a></li>
							                    <li><div class="input-file-title-container"><input type="text"
							                        class="col-sm-4 form-control hide input-file-title"
							                        placeholder="Document title" /></div></li>
							                </ul>
							                -->
						                </div>
						            </div>
						            <div class="editorBg"></div>
						        </div>
						        <div class="layout-wrapper-l3">
						        	<div id="left-column">
							            <pre id="wmd-input" class="form-control"><div class="editor-content mousetrap" contenteditable=true></div><div class="editor-margin"></div></pre>
							            <!-- v2 markdown lightmode需要 -->
							            <div class="textarea-helper"></div>
						            </div>
						            <div id="right-column">
						            <div class="preview-panel panel-open" id="preview-panel">
							            <div id="mdSplitter2" class="layout-resizer layout-resizer-preview open" style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none;"></div>
						                <div class="layout-toggler layout-toggler-preview btn btn-info open" title="Toggle preview" data-open="1"><i class="fa fa-angle-right"></i></div>
						                <div class="preview-container">
						                    <div id="preview-contents">
						                        <div id="wmd-preview" class="preview-content"></div>
						                    </div>
						                </div>
						            </div>
						            </div>
						        </div>
						        <div class="extension-preview-buttons">
									<div id="leanoteNavMd" class="leanoteNav">
										<h1>
											<i class="fa fa-align-justify" title="{{msg . "nav"}}"></i>
											<span>{{msg . "nav"}}</span>
										</h1>
										<div id="leanoteNavContentMd" class="leanoteNavContent table-of-contents">
										</div>
									</div>
						        </div>
						    </div>
						    <div id="wmd-button-bar" class="hide"></div>
						</div>	
					
						<!--
						<div id="wmd-button-bar" id="mdBar"></div>
						<div class="editorBg"></div>
	                    
						<div class="clearfix" id="mdEditorPreview">
							<div id="left-column">
				                <div id="wmd-panel-editor" class="wmd-panel-editor">
				                    <textarea class="wmd-input theme" id="wmd-input" spellcheck="false" tabindex="3"></textarea>
				                </div>
				            </div>
				            <div id="mdSplitter"></div>
				            <div id="right-column">
				                <div id="wmd-panel-preview" class="wmd-panel-preview preview-container">
				                    <div id="wmd-preview" class="wmd-preview"></div>
				                </div>
				            </div>
						</div>
	                    <textarea id="md-section-helper"></textarea>
	                    -->
					</div>
				</div>	
			</div>
			
			<!-- mdEditor -->
			<!-- 插入图片 -->
			<div class="modal fade modal-insert-image">
			    <div class="modal-dialog"  style="width: 840px;max-width:100%;">
			        <div class="modal-content">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal"
			                    aria-hidden="true">&times;</button>
			                <h4 class="modal-title">{{leaMsg . "Image"}}</h4>
			            </div>
			            <div class="modal-body" style="padding-top: 0; padding-bottom: 0">
			            	<iframe name="mdImageManager" style="width: 100%; height: 350px" scrolling="no" id="leauiIfrForMD" src="" frameborder="0"></iframe>
			            </div>
			            <div class="modal-footer">
			                 <a href="#" class="btn btn-default"
			                    data-dismiss="modal">{{leaMsg . "Cancel"}}</a> <a href="#"
			                    class="btn btn-primary action-insert-image" data-dismiss="modal">{{leaMsg . "Insert Image"}}</a>
			            </div>
			        </div>
			    </div>
			</div>
			<!-- v1 -->
			<!-- Hidden Popup Modal -->
			<div class="modal fade bs-modal-sm" id="editorDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
				    <div class="modal-content">
				
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="editorDialog-title"></h4>
				      </div>
				      <div class="modal-body">
							<p></p>
							<div class="input-group">
							  <span class="input-group-addon">
							  	<i></i>
							  </span>
							  <input type="text" class="form-control" placeholder="">
							</div>
				      </div>
				      
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">{{msg . "cancel"}}</button>
				        <button type="button" class="btn btn-primary" id="editorDialog-confirm">{{msg . "confirm"}}</button>
				      </div>
				      
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- 弹出框 模板 -->
			<div class="modal fade bs-modal-sm" id="leanoteDialogRemote" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			</div>
			
			<div class="modal fade bs-modal-sm" id="leanoteDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="modalTitle">操作</h4>
			      </div>
			      
			      <div class="modal-body">
					内容区
			      </div>
			      
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			      
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<div class="modal fade bs-modal-sm" id="sendRegisterEmailDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" class="modalTitle">邀请好友</h4>
			      </div>
			      
				   <div class="modal-body">
						<form role="form">
						  <div class="form-group">
						  	<div id="registerEmailMsg" class="alert alert-warning" style="display: none">
						  	</div>
						  	<input type="hidden" id="toEmail"/>
						    <label for="emailContent">邮件内容</label>
						    <textarea class="form-control" id="emailContent">Hi, 我是life, leanote非常好用, 快来注册吧.</textarea>
						  </div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-success" id="registerEmailBtn">发送</button>
					</div>
			      
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- theme -->
			<div class="modal fade bs-modal-sm" id="setThemeDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
				  <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" class="modalTitle">{{msg . "theme"}}</h4>
			      </div>
					<div class="modal-body">
				  		<table id="themeForm">
				  			<tr>
				  				<td>
				  					<label>
				  					<img src="/images/slider/all.gif" height="100px"> 
				  					<br />
				  					<input type="radio" name="theme" value="default"> {{msg . "default"}}
				  					</label>
				  				</td>
				  				<td>
					  				<label> 
				  					<img src="/images/slider/all-simple.gif" height="100px"> 
				  					<br />
				  					<input type="radio" name="theme" value="simple"> {{msg . "simple"}}
				  					</label>
				  				</td>
				  			</tr>
				  		</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{msg . "close"}}</button>
					</div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- 编辑器提示 -->
			
			
			<!-- modal 静态区域 -->
			<div class="display: hidden">
			<div class="hide" id="copyDiv"></div>
		</div>
	</div>
</div>
<script>
var LEA = {};
LEA.locale = "{{.locale}}";
var UrlPrefix = '{{.siteUrl}}';
var UserInfo = {{.userInfo|jsonJs}};
var notebooks = {{.notebooks|jsonJs}};
var shareNotebooks = {{.shareNotebooks|jsonJs}};
var sharedUserInfos = {{.sharedUserInfos|jsonJs}};
var curNoteId = '{{.curNoteId}}';
var curNotebookId = '{{.curNotebookId}}';
var curSharedNoteNotebookId = '{{.curSharedNoteNotebookId}}';
var curSharedUserId = '{{.curSharedUserId}}';
var notes = {{.notes|jsonJs}};
var latestNotes = {{if .latestNotes}}{{.latestNotes|jsonJs}}{{else}}[]{{end}};
var noteContentJson = {{.noteContentJson|jsonJs}};
var tagsJson = {{.tags|jsonJs}};
var GlobalConfigs = {{.globalConfigs|jsonJs}};
var tinyMCEPreInit = {base: '/public/tinymce', suffix: '.min'};
</script>
<script src="/js/i18n/msg.{{.locale}}.js"></script>
<script src="/js/dep.min.js"></script>
<script src="/tinymce/tinymce.full.min.js"></script>
<script src="/public/libs/ace/ace.js"></script>
<script src="/js/app.min.js"></script>
<script>
initPage();
// 当tinymce.dev.js时, 请注释require
window.require = {
    baseUrl: '/public',
};
</script>
<script src="/js/markdown-v2.min.js"></script>
<script src="/public/js/plugins/main.min.js"></script>
</body>
</html>
