<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="leanote,leanote.com">
<meta name="description" content="leanote, your own cloud note">
<title>leanote, your own cloud note</title>

<link href="css/bootstrap.css" rel="stylesheet" />
<!-- 先加载, 没有样式, 宽度不定 -->
<link rel="stylesheet" href="tinymce/skins/custom/skin.min.css" type="text/css" />

<!-- leanote css -->
<script>
var hash = location.hash;
if(hash == "#writing") {
	var files = '<link rel="stylesheet" href="css/theme/writting-overwrite.css" type="text/css" id="themeLink" />';
} else {
	var files ='<link rel="stylesheet" href="css/theme/{{if .userInfo.Theme}}{{.userInfo.Theme}}{{else}}default{{end}}.css" type="text/css" id="themeLink" />';
}
document.write(files);
</script>

<link href="css/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet" />

<!-- For Develop writting mod -->

<script>
function log(o) {
	
}
</script>
</head>
<body>
	<div id="page">
		<div id="pageInner">

			<!-- 头部 -->
			<!-- <div id="headerContainer"> -->
			<div id="header">

			<!--  <div id="headerLeft" class="pull-left">
			  </div>
			-->
				<div id="logo" class="pull-left">
					<span>lea</span>note 
					<!-- <img style="height: 45px;" src="/images/logo.png" title="leanote, 不一样的笔记" alt="leanote">
					 -->
				</div>
				<div id="switcher" class="pull-left">
					 <i class="fa fa-align-justify" id="leftSwitcher" title="{{msg . "leftHidden"}}"></i>
					 <span id="leftSwitcher2" title="{{msg . "leftShow"}}">lea</span>
				</div>
				<!-- search -->
				<div class="pull-left" id="searchWrap">
					<form class="navbar-form form-inline col-lg-2 hidden-xs" id="searchNote">
						<input class="form-control" placeholder="Search" type="text" id="searchNoteInput">
					</form>
				</div>

				<!-- 全局按钮 -->
				<div class="pull-left" style="" id="newNoteWrap">
				
					<!-- 新建笔记 -->
					<div id="newMyNote">
						<a id="newNoteBtn" title="{{msg . "newNote"}}">
							<i class="fa fa-file-o"></i>
							{{msg . "newNote"}}
						</a>
						<span class="new-split">|</span>
						<a id="newNoteMarkdownBtn" title="{{msg . "newMarkdown"}}">
						Markdown
						</a>
						<span class="for-split"> - </span>
						<span id="curNotebookForNewNote" notebookId=""></span>
						<div class="dropdown" style="display: inline-block">
							<a class="ios7-a dropdown-toggle"
								id="dropdownMenu2" data-toggle="dropdown"> 
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2" style="width: 180px;left: -5px;" id="notebookNavForNewNote">
							</ul>
						</div>
					</div>
					
					<!-- 只为新建别人的笔记 -->
					<div id="newSharedNote" style="display: none">
						<a id="newSharedNoteBtn">
							<i class="fa fa-file-o"></i>
							{{msg . "newNote"}}
						</a>
						<span class="new-split">|</span>
						<a id="newShareNoteMarkdownBtn" title="{{msg . "newMarkdown"}}">
						Markdown
						</a>
						<span class="for-split"> - </span>
						<span id="curNotebookForNewSharedNote" notebookId="" userId=""></span>
						<div class="dropdown" style="display: inline-block">
							<a class="ios7-a dropdown-toggle"
								id="dropdownMenu2" data-toggle="dropdown"> 
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2" style="width: 180px;left: -5px;" id="notebookNavForNewSharedNote">
							</ul>
						</div>
					</div>				
				</div>
				
				<div class="pull-left" id="leanoteMsg">
					<span id="msg" style="display: inline-block;"></span>
					<span id="loading">
					</span>
				</div>
				
				<!-- 
				<div class="pull-left alert-warning" style="line-height: 20px; margin-top: 10px; margin-left: 0px; display: none" id="verifyMsg">
					您还没有验证邮箱, 验证邮件已发送至 {{.userInfo.Email}}.
					<br />
					<a class=".nowToActive">现在去验证</a> <a id="reSendActiveEmail">重新发送</a> <a id="wrongEmail">邮箱填错了?</a>
				</div>
				-->
					
				<div class="pull-right" style="margin: 0 10px" id="myProfile">
					<div class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" style="line-height: 60px;"> 
							<!--
							<img src="images/avatar.png" style="height: 40px; border: 1px solid #ccc" /> 
							-->
							<span class="username">
								{{if .userInfo.UsernameRaw}}
									{{.userInfo.UsernameRaw}}
								{{else}}
									{{.userInfo.Username}}
								{{end}}
							</span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu li-a" role="menu">
							<li role="presentation" id="setInfo">
								<i class="fa fa-info"></i> 
								{{msg . "accountSetting"}}
							</li>
							<li role="presentation" id="setTheme">
								<i class="fa fa-sun-o"></i> 
								{{msg . "themeSetting"}}
							</li>
							<!--
							<li role="presentation" id="yourSuggestions">
								<i class="fa fa-comment-o"></i> 
								{{msg . "yourSuggestions"}}
							</li>
							-->
							<li role="presentation" onclick="logout()">
								<i class="fa fa-sign-out"></i> 
								{{msg . "logout"}}
							</li>
						</ul>
					</div>
				</div>

				<div class="pull-right" style="margin: 0 10px" id="topNav">
					<a target="_blank" href="/blog/{{.userInfo.Username}}"> 
						{{msg . "myBlog"}}
					</a>
				</div>
				
				<div class="pull-right" style="line-height: 60px; margin-right:10px" id="toggleEditorMode">
					<a href="#writing">{{msg . "writingMode"}}</a>
				</div>
				
				{{if eq .userInfo.Email "demo@leanote.com"}}
				{{if .openRegister}}					
				<div class="pull-right" style="line-height: 60px; margin-right:10px" id="demoRegister">
					<span>
						{{msg . "demoRegister"}}
					</span>
				</div>
				{{end}}
				{{end}}
				
				<!--
				<ul id="setting" class="pull-right">
					<li class="dropdown messages">
						<a class="dropdown-toggle" data-toggle="dropdown"> 
							<span aria-hidden="true" class="icon se7en-flag"></span>
							<div class="sr-only">Messages</div>
							<p class="counter">3</p>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"> c@c.com 共享了笔记给你 是否接受? </a></li>
							<li><a href="#"> d@c.com 共享了笔记给你 是否接受? </a></li>
						</ul>
					</li>

					<li class="dropdown settings">
						<a class="dropdown-toggle" data-toggle="dropdown"> 
							<span aria-hidden="true" class="icon se7en-gear"></span>
							<div class="sr-only">Settings</div>
						</a>
						<ul class="dropdown-menu">
							<li><a class="settings-link blue"><span></span>Blue</a></li>
							<li><a class="settings-link green"><span></span>Green</a></li>
							<li><a class="settings-link orange"><span></span>Orange</a>
							</li>
							<li><a class="settings-link magenta"><span></span>Magenta</a>
							</li>
							<li><a class="settings-link gray"><span></span>Gray</a></li>
						</ul>
					</li>
				</ul>
				-->
				<div style="clear: both"></div>
			</div>

			<div id="mainContainer" class="clearfix">
				<div id="mainMask">
					<img src="/images/loading-30.gif" />
					<br />
					<br />
					loading...
				</div>
				<div id="leftNotebook">
					<div id="notebook">
						<div class="folderNote opened" id="myNotebooks">
							<div class="folderHeader clearfix">
								<i class="fa fa-book pull-left fa-left"></i> 
								<span class="pull-left">
									{{msg . "notebook"}}
								</span>
								<div class="pull-right" id="addNotebookPlus" title="{{msg . "addNotebook"}}">
									<i class="fa  fa-plus" title="{{msg . "addNotebook"}}"></i>
								</div>
							</div>
							<ul class="folderBody" id="notebookList">
							</ul>
						</div>
						
						<div class="folderNote closed" id="myTag">
							<div class="folderHeader">
								<i class="fa fa-bookmark fa-left"></i>
								<span>
									{{msg . "tag"}}
								</span>
							</div>
	
							<ul class="folderBody" id="tagNav">
								<li><a> <span class="label label-red">{{msg . "red"}}</span></a></li>
								<li><a> <span class="label label-blue">{{msg . "blue"}}</span></a></li>
								<li><a> <span class="label label-yellow">{{msg . "yellow"}}</span></a></li>
								<li><a> <span class="label label-green">{{msg . "green"}}</span></a></li>
							</ul>
						</div>
						
						<div class="folderNote closed" id="">
							<div class="folderHeader">
								<i class="fa fa-user fa-left"></i>
								<span>
									{{msg . "share"}}
								</span>
							</div>
	
							<ul class="folderBody" id="shareNotebooks">
								
							</ul>
						</div>
	
					</div>
					
					<!-- 缩小版 -->
					<div id="notebookMin">
						<!-- 这里隐藏, 不要 -->
						<div target="#notebookList" title="{{msg . "notebook"}}" class="minContainer">
							<i class="fa fa-book"></i>
							<ul class="dropdown-menu" id="minNotebookList">
							</ul>
						</div>
						<div target="#tagNav" title="{{msg . "myTag"}}" class="minContainer">
							<i class="fa fa-bookmark"></i>
							<ul class="dropdown-menu" id="minTagNav">
							</ul>
						</div>
						<div id="minShareNotebooks">
							<!--
							<div class="minContainer" target="" title="">
								<i class="fa fa-user"></i>
								<ul class="dropdown-menu">
								</ul>
							</div>
							-->
						</div>
					</div>
					
					<!-- 
					底下隐藏/展开 
					<div id="notebookBottom">
						<i class="fa fa-angle-left" id="leftSwitcher"></i>
					</div>
					-->
				</div>

				<div class="noteSplit" id="notebookSplitter"></div>
				
				<div id="noteAndEditor">
					<div id="noteList">
					<div class="clearfix" id="notesAndSort" style="position: relative">

						<div class="pull-left">

							<!-- 我的笔记本 -->
							<div class="dropdown" id="myNotebookNavForListNav">
								<a class="ios7-a dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
									<span id="curNotebookForListNote">{{msg . "all"}}</span>
									<i class="fa fa-angle-down"></i>
								</a>
								<!-- 如果notebook过多, 则会产生滚动 -->
								<ul class="dropdown-menu" role="menu"
									aria-labelledby="dropdownMenu1" style="left: 5px;" id="notebookNavForListNote">
								</ul>
							</div>
							
							<!-- 共享的笔记本 -->
							<div class="dropdown" id="sharedNotebookNavForListNav" style="display: none">
								<a class="ios7-a dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
									<span id="curSharedNotebookForListNote">{{msg . "all"}}</span>
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu" role="menu"
									aria-labelledby="dropdownMenu2" style="left: 5px;" id="sharedNotebookNavForListNote">
								</ul>
							</div>

						</div>

						<div class="pull-left" id="tagSearch" style="line-height: 38px">
						</div>
						<div id="sortType">
							<div class="dropdown">
								<a class="ios7-a dropdown-toggle" id="dropdownMenu1"
									data-toggle="dropdown"> 
									<!--  
									<i class="fa fa-sort-alpha-asc">
									</i>Sort <i class="fa fa-angle-down"></i>
									-->
								</a>
								<ul class="dropdown-menu" role="menu"
									aria-labelledby="dropdownMenu1"
									style="right: 3px; ! important; left: -100px; min-width: 100px;">
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">创建日期</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">修改日期</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">标题</a></li>
									<li role="presentation" class="divider"></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">Separated </a></li>
								</ul>
							</div>
						</div>

					</div>

					<!-- 笔记列表 -->
					<!-- wrap 为了slimScroll -->
					<div id="noteItemListWrap" style="position: absolute; left: 0; right: 0; top: 41px; bottom: 3px">
						<div id="noteItemList">
					</div>
					</div>
				</div>
				
					<div class="noteSplit" id="noteSplitter"></div>
					
					<div id="note">
					<!-- 只读模式 -->
					<div id="noteRead">
						<div id="noteReadContainer">
							<div id="noteReadTop">
								<h2 id="noteReadTitle"></h2>
								<div class="clearfix">
								
									<div class="pull-left">
										<i class="fa fa-bookmark-o"></i>												
										<span id="noteReadTags"></span>
									</div>
									
									<!-- 修改时间 -->
									<div class="pull-left" style="margin-left: 10px;">
										<i class="fa fa-calendar"></i>{{msg . "update"}} 
										<span id="noteReadUpdatedTime"></span>  
									</div>
									<!-- 修改时间 -->
									<div class="pull-left" style="margin-left: 10px;">
										<i class="fa fa-calendar"></i>{{msg . "create"}} 										
										<span id="noteReadCreatedTime"></span>
									</div>
								</div>
							</div>
							
							<div id="noteReadContent">
							</div>
						</div>
					</div>
					<!-- 遮罩, 为了resize3Columns用 -->
					<div id="noteMask"
						style="position: absolute; top: 0px; bottom: 0px; right: 0; left: 10px; z-index: -1"></div>
					<div id="editorMask">
						该笔记本下空空如也...何不
						<br />
						<div id="editorMaskBtns">
							<br />
							<a class="note">新建笔记</a>
							<a class="markdown">新建Markdown笔记</a>
						</div>
						<div id="editorMaskBtnsEmpty">
							Sorry, 这里不能添加笔记的.
						</div>
					</div>
					<div id="noteTop">
						<!-- 左侧放tag, 右侧放按钮, 比如save, info, move, delete -->
						<div id="tool" class="clearfix">
							<!-- tag可以参考 mac的文件tag, 预定义一些颜色, 用户也可以自己输入-->
							
							<!--
							<div class="pull-left" id="noteTitleDiv">
								<input name="noteTitle" id="noteTitle" value="" placeholder="无标题">
							</div>
							-->
							
							<div class="pull-left" id="tag">
								<div id="tags" style="display: inline-block; line-height: 25px;">
								</div>

								<div class="dropdown" style="display: inline-block"
									id="tagDropdown">
									<i class="fa fa-bookmark-o"></i> 
									<a
										class="metro-a dropdown-toggle" data-toggle="dropdown"
										id="addTagTrigger" style="cursor: text; padding-left: 0">
										{{msg . "clickAddTag"}}
									</a> 
									<input type="text" id="addTagInput" />
									<ul class="dropdown-menu" role="menu" id="tagColor">
										<li role="presentation"><span class="label label-red">{{msg . "red"}}</span>
										</li>
										<li role="presentation"><span class="label label-blue">{{msg . "blue"}}</span>
										</li>
										<li role="presentation"><span class="label label-yellow">{{msg . "yellow"}}</span></li>
										<li role="presentation"><span class="label label-green">{{msg . "green"}}</span></li>
									</ul>
								</div>

							</div>

							<ul class="pull-right" id="editorTool">
								<li><a class="ios7-a " id="saveBtn" title="ctrl+s"
									data-toggle="dropdown">{{msg . "save"}}</a></li>
								<li><a class="ios7-a " id="tipsBtn"
									data-toggle="dropdown">{{msg . "editorTips"}}</a></li>
								<li><a class="ios7-a " id="contentHistory"
									data-toggle="dropdown">{{msg . "history"}}</a></li>
							</ul>
						</div>

						<div id="noteTitleDiv">
							<input name="noteTitle" id="noteTitle" value="" placeholder="{{msg . "unTitled"}}" tabindex="1" />
						</div>
					</div>

					<div id="editor">
						<!-- 编辑器 -->
						<div id="mceToolbar" style="">
							<div id="popularToolbar"
								style="position: absolute; right: 30px; left: 0"></div>
							<a
								style="dispaly: block; position: absolute; cursor: pointer; right: 10px; padding: 3px 10px"
								id="moreBtn"> <i class="fa fa-angle-down"></i>
							</a>
						</div>
						<div class="editorBg"></div>
						<div id="leanoteNav">
							<h1>
								<i class="fa fa-align-justify" title="文档导航"></i>
								<span>{{msg . "nav"}}</span>
							</h1>
							<div id="leanoteNavContent">
							</div>
						</div>
						<!-- 由此可以算高度 -->
						<div id="editorContent" name="editorContent" tabindex="2" />
							{{.noteContent}}
				       </div>
					</div>
					
					<div id="mdEditor">
						<div id="wmd-button-bar" id="mdBar"></div>
						<div class="editorBg"></div>
						<!-- 为了scroll -->
	                    
						<div class="clearfix" id="mdEditorPreview">
							<div id="left-column" class="pull-left">
				                <div id="wmd-panel-editor" class="wmd-panel-editor">
				                    <textarea class="wmd-input theme" id="wmd-input" spellcheck="false" tabindex="3"></textarea>
				                </div>
				            </div>
				            <div id="right-column" class="pull-right">
				                <div id="wmd-panel-preview" class="wmd-panel-preview preview-container">
				                    <div id="wmd-preview" class="wmd-preview"></div>
				                </div>
				            </div>
						</div>
	                    <textarea id="md-section-helper"></textarea>
					</div>
					
					
					<!-- mdEditor -->
					<!-- Hidden Popup Modal -->
					<div class="modal fade bs-modal-sm" id="editorDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm">
						    <div class="modal-content">
						
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="editorDialog-title">操作</h4>
						      </div>
						      
						      <div class="modal-body">
									<p></p>
									<div class="input-group">
									  <span class="input-group-addon">
									  	<i></i>
									  </span>
									  <input type="text" class="form-control" placeholder="">
									</div>
						      </div>
						      
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						        <button type="button" class="btn btn-primary" id="editorDialog-confirm">确认</button>
						      </div>
						      
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</div>	
			</div>
			

			<!-- 弹出框 模板 -->
			<div class="modal fade bs-modal-sm" id="leanoteDialogRemote" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			</div>
			
			<div class="modal fade bs-modal-sm" id="leanoteDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="modalTitle">操作</h4>
			      </div>
			      
			      <div class="modal-body">
					内容区
			      </div>
			      
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			      
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<div class="modal fade bs-modal-sm" id="sendRegisterEmailDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" class="modalTitle">邀请好友</h4>
			      </div>
			      
				   <div class="modal-body">
						<form role="form">
						  <div class="form-group">
						  	<div id="registerEmailMsg" class="alert alert-warning" style="display: none">
						  	</div>
						  	<input type="hidden" id="toEmail"/>
						    <label for="emailContent">邮件内容</label>
						    <textarea class="form-control" id="emailContent">Hi, 我是李铁, leanote非常好用, 快来注册吧.</textarea>
						  </div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-success" id="registerEmailBtn">发送</button>
					</div>
			      
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<div class="modal fade bs-modal-sm" id="setThemeDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			    
				  <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" class="modalTitle">主题设置</h4>
			      </div>
			    
					<div class="modal-body">
						<style>
							#themeForm td {
								padding: 5px;
								text-align: center;
							}
							#themeForm img {
								border: 1px solid #eee;
								padding: 2px;
							}
						</style>
				  		<table id="themeForm">
				  			<tr>
				  				<td>
				  					<label>
				  					<img src="/images/slider/all.gif" height="100px"> 
				  					<br />
				  					<input type="radio" name="theme" value="default"> {{msg . "default"}}
				  					</label>
				  				</td>
				  				<td>
					  				<label> 
				  					<img src="/images/slider/all-simple.gif" height="100px"> 
				  					<br />
				  					<input type="radio" name="theme" value="simple"> {{msg . "simple"}}
				  					</label>
				  				</td>
				  			</tr>
				  		</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{msg . "close"}}</button>
					</div>
				    
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- 编辑器提示 -->
			<div class="modal fade bs-modal-sm" id="tipsDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			    
				  <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" class="modalTitle">{{msg . "editorTips"}}</h4>
			      </div>
					<div class="modal-body">
						{{msg . "editorTipsInfo"}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{msg . "close"}}</button>
					</div>
				    
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- 图片上传 -->
			<div class="modal fade bs-modal-sm"  id="imageDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content" style="height: 460px;" >
			    
				  <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" class="modalTitle">{{msg . "uploadImage"}}</h4>
			      </div>
					<div class="modal-body">
						<iframe style="" height="360" src="" scrolling="no" frameBorder="0" width="99%"></iframe>
					</div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- 您的建议 
			<div class="modal fade bs-modal-sm"  id="suggestionsDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
				  <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" class="modalTitle">{{msg . "yourSuggestions"}}</h4>
			      </div>
					<div class="modal-body">
						<div style="margin-bottom:20px;">
							{{msg . "suggestionsInfo"}}<br />
						</div>
		
						<div class="alert alert-warning" id="suggestionMsg" style="display: none"> </div>
						<textarea style="width: 100%; height: 100px" id="suggestionTextarea" placeholder="{{msg . "suggestions"}}"></textarea>
					</div>
					<div class="modal-footer">
						<button id="suggestionBtn" class="btn btn-success" >{{msg . "submit"}}</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">{{msg . "close"}}</button>
					</div>
			    </div>
			  </div>
			</div>
			-->
			
			<!-- modal 静态区域 -->
			<div class="display: hidden">
			
				<!-- 长微博 -->
				<div id="html2ImageDialog">
				    <div class="modal-body">
				    	<div style="max-height: 300px; padding: 5px 0; text-align: center; overflow: scroll;" class="weibo">
							<span class="text">
								leanote正在努力为你生成长微博...
							</span>
							<br />
							<img src="/images/loading-24.gif"/>
				    	</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{msg . "cancel"}}</button>
						<button type="button" class="btn btn-success sendWeiboBtn disabled">{{msg . "send"}}</button>
					</div>
			    </div>
			    
			    <!-- 激活邮件 -->
				<div id="reSendActiveEmailDialog">
				    <div class="modal-body">
				    	<div style="max-height: 300px; padding: 5px 0; text-align: center; overflow: scroll;" class="weibo">
							<span class="text">
								<img src="/images/loading-24.gif"/>
								正在发送邮件到{{.userInfo.Email}}...
							</span>
				    	</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-success viewEmailBtn disabled">查看邮件</button>
					</div>
			    </div>
			    
				<!-- 帐户设置 -->
				<div id="dialogSetInfo">
					<div class="modal-body">
						<ul class="nav nav-tabs" id="myTabs">
						  <li><a href="#baseInfo" data-toggle="tab">{{msg . "basicInfo"}}</a></li>
						  <li><a href="#emailInfo" data-toggle="tab">{{msg . "updateEmail"}}</a></li>
						  <li><a href="#updatePwd" data-toggle="tab">{{msg . "updatePassword"}}</a></li>
						</ul>
						<div class="tab-content">
						  <div class="tab-pane active" id="baseInfo">
						  	<form>
						  		<table>
						  			<tr>
						  				<td>
							  				<label for="username">用户名设置</label>
							  				<div class="alert alert-danger" id="usernameMsg" style="display: none"></div>
										    <input type="text" class="form-control" id="username">
						  					你的邮箱是 {{.userInfo.Email}}, 可以再设置一个唯一的用户名.
						  					<br />
						  					用户名至少4位, 不可含特殊字符.
						  				</td>
						  			</tr>
						  			<tr>
						  				<td>
										    <button id="usernameBtn" class="btn btn-success">提交</button>
						  				</td>
						  			</tr>
						  		</table>
					  		</form>
						  </div>
						  <div class="tab-pane" id="emailInfo">
						  	<form>
						  		<table>
						  			<tr>
						  				<td>
							  				当前邮箱为: <span id="curEmail">{{.userInfo.Email}}</span> 
							  				{{if .userInfo.Verified}}
							  					已验证
							  				{{else}}
							  					未验证
												<a class="raw nowToActive">现在去验证</a> 
												<a class="raw reSendActiveEmail">重新发送</a> 
							  				{{end}}
							  				<br />
							  				<label for="email">修改邮箱</label>
							  				<div class="alert alert-danger" id="emailMsg" style="display: none"></div>
										    <input type="text" class="form-control" id="email">
										    邮箱修改后, 验证之后才有效, 验证之后新的邮箱地址将会作为登录帐号使用.
						  				</td>
						  			</tr>
						  			<tr>
						  				<td>
										    <button id="emailBtn" class="btn btn-success">发送验证邮箱</button>
						  				</td>
						  			</tr>
						  		</table>
					  		</form>
						  </div>
						  <div class="tab-pane" id="updatePwd">
						  	<form>
							  	<table style="width: 80%">
							  		<tr>
							  		<td>
				  						<div class="alert alert-danger" id="pwdMsg" style="display: none"></div>
							  		</td>
							  		</tr>
							  		<tr>
										<td style="width: 80px">
									  	  	<label for="pwd">{{msg . "oldPassword"}}</label>
										    <input type="password" class="form-control" id="oldPwd" name="oldPwd">
										</td>
									</tr>
									
									<tr>
										<td>
									  	  	<label for="pwd">{{msg . "newPassword"}}</label>
										    <input type="password" class="form-control" id="pwd" name="pwd">
										</td>
									</tr>
									<tr>
										<td>
									  	  	<label for="pwd2">{{msg . "password2"}}</label>
										    <input type="password" class="form-control" id="pwd2" name="pwd2">
										</td>
									</tr>
									
									<tr>
										<td>
											<button id="pwdBtn" class="btn btn-success">{{msg . "submit"}}</button> 
										</td>
									</tr>
								</table>
							</form>
						  </div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				
				<!-- 账号设置, 是通过third 登录进来的 -->
				<div id="thirdDialogSetInfo">
					<div class="modal-body">
						<ul class="nav nav-tabs" id="thirdMyTabs">
						  <li><a href="#accountInfo" data-toggle="tab">创建帐号</a></li>
						</ul>
						<div class="tab-content">
						  <div class="tab-pane active" id="accountInfo">
						  您现在使用的是第三方帐号登录leanote, 您也可以注册leanote帐号登录, 赶紧注册一个吧.
						  <br />
						  注册成功后仍可以使用第三方帐号登录leanote并管理您现有的笔记.
						  	<form>
		  						<div class="alert alert-danger" id="thirdAccountMsg" style="display: none"></div>
							  	<table style="width: 100%">
							  		<tr>
										<td>
									  	  	<label for="thirdEmail">邮箱</label>
										</td>
										<td>
										    <input type="text" class="form-control" id="thirdEmail">
										</td>
									</tr>
									<tr>
										<td>
									  	  	<label for="thirdPwd">密码</label>
										</td>
										<td>
										    <input type="password" class="form-control" id="thirdPwd">
										</td>
										<td>
											密码至少6位
										</td>
									</tr>
									<tr>
										<td>
									  	  	<label for="thirdPwd2">重复密码</label>
										</td>
										<td> 
										    <input type="password" class="form-control" id="thirdPwd2">
										</td>
									</tr>
									
									<tr>
										<td></td>
										<td>
											<button id="accountBtn" class="btn btn-success" style="width: 100%">提交</button> 
										</td>
									</tr>
								</table>
							</form>
						  </div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
			<div class="hide" id="copyDiv"></div>
		</div>
	</div>
</div>
<script src="js/jquery-1.9.0.min.js"></script>
<script src="js/i18n/msg.{{.locale}}.js"></script>
<script src="js/common-min.js"></script>
<script>
var UrlPrefix = "http://leanote.com"; // 为了发weibo
var UserInfo = json({{.userInfoJson}});
var notebooks = json({{.notebooks}});
var shareNotebooks = json({{.shareNotebooks}});
var sharedUserInfos = json({{.sharedUserInfos}});
var notes = json({{.notes}});
var noteContentJson = json({{.noteContentJson}});
var tagsJson = json({{.tagsJson}});
LEA.locale = "{{.locale}}";
</script>
			
<!-- 渲染view -->
<script src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="js/app/page-min.js"></script>

<script src="tinymce/tinymce.js"></script>
<script src="js/jquery-cookie-min.js"></script>
<script src="js/bootstrap-min.js"></script>
<script src="js/app/note-min.js"></script>
<script src="js/app/tag-min.js"></script>
<script src="js/app/notebook-min.js"></script>
<script src="js/app/share-min.js"></script>
<script src="js/object_id-min.js"></script>
<script src="js/ZeroClipboard/ZeroClipboard-min.js"></script>
<script>
Notebook.renderNotebooks(notebooks);
Share.renderShareNotebooks(sharedUserInfos, shareNotebooks);

Note.renderNotes(notes);
if(!isEmpty(notes)) {
	Note.changeNote(notes[0].NoteId);
}

Note.setNoteCache(noteContentJson);
Note.renderNoteContent(noteContentJson)

Tag.renderTagNav(tagsJson);
</script>

<!-- mdEditor -->
<link href="/public/mdeditor/editor/editor.css" rel="stylesheet">
<script src="/public/mdeditor/editor/pagedown/Markdown.Converter-min.js"></script>
<script src="/public/mdeditor/editor/pagedown/Markdown.Sanitizer-min.js"></script>
<script src="/public/mdeditor/editor/pagedown/Markdown.Editor-min.js"></script>
<script src="/public/mdeditor/editor/pagedown/local/Markdown.local.zh-min.js"></script>
<script src="/public/mdeditor/editor/Markdown.Extra-min.js"></script>
<script src="/public/mdeditor/editor/underscore-min.js"></script>
<script src="/public/mdeditor/editor/scrollLink-min.js"></script>
<!--mathjax-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]], processEscapes: true },  messageStyle: "none"});
</script>
<script src="/public/mdeditor/editor/mathJax-min.js"></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="/public/mdeditor/editor/jquery.waitforimages-min.js"></script>
<script src="/public/mdeditor/editor/google-code-prettify/prettify.js"></script>
<script src="/public/mdeditor/editor/editor-min.js"></script>	
<!-- mdEditor end -->

<!-- context-menu -->
<link rel="stylesheet" href="/js/contextmenu/css/contextmenu.css" type="text/css" />
<script src="/js/contextmenu/jquery.contextmenu-min.js"></script>
</body>
</html>