{{template "home/header_box.html" .}}

<section id="box" class="animated fadeInUp">
	<div>
		<h1 id="logo">Leanote</h1>
		<div id="boxForm">
			<div id="boxHeader">{{msg . "updatePassword"}}</div>
			<form>
				<div class="alert alert-danger" id="loginMsg"> </div>
				
				<div class="form-group"> 
					<label class="control-label" for="email">{{msg . "email"}}</label>
					<br />
					{{.findPwd.Email}}
				</div>
				
				<div class="form-group"> 
					<label class="control-label" for="pwd">{{msg . "password"}}</label>
					<input type="password" class="form-control" id="pwd" name="pwd">
					{{msg . "passwordTips"}} 
				</div>
				<div class="form-group"> 
					<label class="control-label" for="pwd2">{{msg . "password2"}}</label>
					<input type="password" class="form-control" id="pwd2" name="pwd2" >
				</div>
				<button id="loginBtn" class="btn btn-success">{{msg . "updatePassword"}}</button> 
			</form>		
		</div>
    </div>
</section>

<div id="boxFooter">
	<p>
		<a href="/login">{{msg . "login"}}</a>
		&nbsp;
		<a href="/index">{{msg . "home"}}</a>
	</p>
	<p>
		<a href="/index">leanote</a> © 2014-2015
	</p>
</div>

<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/js/bootstrap.js"></script>

<script>

$(function() {
	$("#pwd").focus();
	function showMsg(msg, id) {
		$("#loginMsg").html(msg).show();
		if(id) {
			$("#" + id).focus();
		}
	}
	function hideMsg() {
		$("#loginMsg").hide();
	}
	$("#loginBtn").click(function(e){
		e.preventDefault();
		
		var pwd = $("#pwd").val();
		var pwd2 = $("#pwd2").val();
		
		if(!pwd) {
			showMsg("{{msg . "inputPassword"}}", "pwd");
			return;
		} else {
			if(pwd.length < 6) {
				showMsg("{{msg . "notGoodPassword"}}", "pwd");
				return;
			}
		}
		if(!pwd2) {
			showMsg("{{msg . "inputPassword2"}}", "pwd2");
			return;
		} else {
			if(pwd != pwd2) {
				showMsg("{{msg . "confirmPassword"}}", "pwd2");
				return;
			}
		}
		
		$("#loginBtn").html("{{msg . "ing"}}...").addClass("disabled");
		// hideMsg();
		
		$.post("/findPasswordUpdate", {pwd: pwd, token: "{{.findPwd.Token}}"}, function(e) {
			$("#loginBtn").html("{{msg . "updatePassword"}}").removeClass("disabled");
			if(e.Ok) {
				$("#loginBtn").html("{{msg . "updatePasswordSuccessRedirectToLogin"}}");
				location.href = "/login?email={{.findPwd.Email}}";
			} else {
				showMsg(e.Msg, "pwd");
			}
		});
	});
});
</script>
</body>
</html>
