{{template "home/header_box.html" .}}

<section id="box" class="animated fadeInUp">
	<div>
		<h1 id="logo"></h1>
		<div id="boxForm">
			<div id="boxHeader">{{msg . "findPasswordTimeout"}}</div>
			<form>
				<div class="alert alert-danger" id="loginMsg" style="display: block">
					{{msg . "findPasswordTimeout"}}, <a href="/findPassword">{{msg . "reFindPassword"}}</a>
				</div>
			</form>	
		</div>
    </div>
</section>

<div id="boxFooter">
	<p>
		<a href="/login">{{msg . "login"}}</a>
		&nbsp;
		<a href="/index">{{msg . "home"}}</a>
	</p>
	<p>
		© <a href="https://leanote.com">Leanote</a>
	</p>
</div>

<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>
