{{template "home/header_box.html" .}}

<section id="box">
	<div>
		<h1>leanote {{msg . "findPassword"}} - {{msg . "findPasswordTimeout"}}</h1>
		<form class="form-inline" id="boxForm">
			<div class="alert alert-danger" id="loginMsg" style="display: block">
				{{msg . "findPasswordTimeout"}}, <a href="/findPassword">{{msg . "reFindPassword"}}</a>
			</div>
		</form>		
		<div id="quickLinks">
			<a href="/login">{{msg . "login"}}</a>
			&nbsp;
			<a href="/index">{{msg . "home"}}</a>
		</div>
    </div>
</section>

<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>