<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-envelope-o fa-3x icon-muted"></i>
				<h2>Contact</h2>
				<a href="http://weibo.com/leanotecom" target="_blank"><i class="fa fa-weibo"></i></a>
				<br />
				leanote@leanote.com
				<br />
				Copyright © 2014-2015 <a href="https://leanote.com">Leanote</a>
			</div>
			<div class="col-md-6">
				<i class="fa fa-globe fa-3x icon-muted"></i>
				<h2>Join Us</h2>
				<a href="https://github.com/leanote/leanote">Github Leanote</a>
				<br />
				QQ Group: <span id="qqGrup">256076853, <s>158716820</s></span>
			</div>
		</div>
	</div>
	
	<div class="footer-leanote">Proudly powered by <a href="https://leanote.com">Leanote</a></div>
	
</div>
