<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="leanote,蚂蚁笔记,leanote.com">
<meta name="description" content="leanote, 蚂蚁笔记, {{msg $ "moto"}}">
<meta name="author" content="leanote,蚂蚁笔记">
<title>{{.title}}</title>

<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">
<style>
html, body {
	height: 100%;
}
</style>
</head>
<body id="boxBody">