<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="leanote,leanote.com,蚂蚁笔记">
<meta name="description" content="Leanote,蚂蚁笔记, {{msg $ "moto"}}">
<meta name="author" content="leanote,蚂蚁笔记">
<title>{{.title}}</title>

<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">

<script>
function log(o) {
}
</script>
</head>

<body class="lang-{{$.locale}}">
<nav id="headerContainer" style="background-color:#fff" class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/index" id="logo">
				<img src="/images/logo/leanote_black.png" class="hide" title="leanote, {{msg $ "moto"}}"/>
			</a>
		</div>
		
		<div id="navbar" class="navbar-collapse collapse">
			<div id="lang">
				<a data-lang="en-us">English</a>
				<a data-lang="de-de">Deutsch</a>
				<a data-lang="fr-fr">Français</a>
				<a data-lang="zh-cn">简体中文</a>
				<a data-lang="zh-hk">繁体中文</a>
				<a data-lang="pt-pt">Portugu&ecirc;s</a>
				<a data-lang="es-co">Spanish</a>
			</div>

			<ul class="nav navbar-nav navbar-left">
				<li><a href="/index#" data-target="body" class="smooth-scroll">{{msg . "home"}}</a></li>
				<li style="position: relative; margin-right: 3px;">
					<a href="http://bbs.leanote.com" target="_blank" class="">{{msg . "discussion"}}</a>
				</li>

				<li><a id="leanoteBlog" href="http://lea.leanote.com" target="_blank" title="Leanote explore, leanote blog platform" class="">{{leaMsg . "Leanote Explore"}}</a></li>
				<li><a id="leanoteApp" href="http://app.leanote.com" target="_blank" title="Leanote App" class="">{{msg . "desktopApp"}}</a></li>
				<li>
					<a href="http://leanote.org#donate" target="_blank" class="">{{msg . "donate"}}</a>
				</li>

				<li><a href="http://leanote.org" target="_blank" title="leanote.org" class="">leanote.org</a></li>

				{{if .userInfo.Email}}
				<li id="loginBtns">
					{{msg . "hi"}}, {{.userInfo.Username}}
					<a href="{{$.noteUrl}}">{{msg . "myNote"}}</a>
					<a href="/logout">{{msg . "logout"}}</a>
				</li>
				{{end}}
			</ul>
		</div>
	</div>
</nav>
<!--
<div id="headerContainer" style="background-color:#fff" class="navbar-fixed-top">
	<div class="container" style="clearfix" id="header">
		<div class="pull-left">
			<h1>
				<a href="/index">
					<img src="/images/logo/leanote_black.png" id="" style="height: 50px" title="leanote, {{msg $ "moto"}}"/>
				</a>
			</h1>
		</div>
	
		<div class="pull-right" id="loginBtns">
			{{if .userInfo.Email}}
				{{msg . "hi"}}, {{.userInfo.Username}}
				<a href="{{$.noteUrl}}">{{msg . "myNote"}}</a>
				<a href="/logout">{{msg . "logout"}}</a>
			{{else}}
			<a href="/login">{{msg . "login"}}</a>
				{{if .openRegister}}
				<a href="/register" class="btn-register">{{msg . "register"}}</a>
				{{end}}
			{{end}}
		</div>
			
		<ul id="blogNav" class="pull-right">
			<li><a href="#" target="body" class="smooth-scroll">{{msg . "home"}}</a></li>
			<li><a href="#download" target="#download" class="smooth-scroll">{{msg . "download"}}</a> </li>
			<li><a href="#donate" target="#donate" class="smooth-scroll">{{msg . "donate"}}</a> </li>
			<li><a id="leanoteBlog" href="{{.leaUrl}}/index" target="_blank" title="lea++, leanote博客平台" class="">lea++</a></li>
			
			<li style="position: relative; margin-right: 3px;">
				<a href="http://bbs.leanote.com" target="_blank" class="">{{msg . "discussion"}}</a>
				<div style="position: absolute;
					width: 8px;
					height: 8px;
					background: red;
					top: 15px;
					right: 5px;
					border-radius: 9px;"></div>
			</li>
		</ul>
	</div>
</div>
-->
