{{template "header.html" .}}

<div id="postsContainer">
	<div class="container">
	    <h2>Archives {{if $.curCateTitle}} - {{$.curCateTitle}}{{end}}</h2>
	</div>
	<div id="posts">
		
		<div class="each-post">
		    <ul>
		        {{range $.archives}}
		        {{$year := .Year}}
		       
    		            {{range .MonthAchives}}
        		        
        		          <span class="archive-month">{{$year}}-{{.Month}}</span>
        		          <ul>
        		                {{range .Posts}}
        		                <li>
        		                    {{dateFormat .PublicTime "2006-01-02"}} <a href="{{$.postUrl}}/{{.UrlTitle}}">
        		                    
        		                    {{if .Title}}
        		                        {{.Title}}
        		                    {{else}}
        		                        Untitled
        		                    {{end}} 
        		                    </a>
        		                </li>
        		                {{end}}
        		           </ul>
        		            
        		        
        		        {{end}}
        		    
    		    
    		    {{end}}
		    </ul>
		</div>
	</div>
</div>

{{template "footer.html" .}}

</body>
</html>