{{template "header.html" .}}

<div id="postsContainer">
	<div class="container">
	    <h2>归档 {{if $.curCateTitle}} - {{$.curCateTitle}}{{end}}</h2>
	</div>
	<div id="posts">
		
		<div class="each-post">
		    <ul>
		        {{range $.archives}}
		        <li><span class="archive-year">{{.Year}}</span>
        		    <ul>
    		            {{range .MonthAchives}}
        		        <li>
        		            <span class="archive-month">{{.Month}}</span>
        		            <ul>
        		                {{range .Posts}}
        		                <li>
        		                    {{dateFormat .PublicTime "2006-01-02"}} <a href="{{$.postUrl}}/{{.UrlTitle}}">{{.Title}}</a>
        		                </li>
        		                {{end}}
        		            </ul>
        		            
        		        </li>
        		        {{end}}
        		    </ul>
    		    </li>
    		    {{end}}
		    </ul>
		</div>
	</div>
</div>

{{template "footer.html" .}}

</body>
</html>