{{template "admin/top.html" .}}
<div class="m-b-md"> <h3 class="m-b-none">User</h3></div>

<section class="panel panel-default">
	<div class="row wrapper">
		<div class="col-sm-5 m-b-xs">
			<select class="input-sm form-control input-s-sm inline v-middle">
				<option value="0">
					Bulk action
				</option>
				<option value="1">
					Delete selected
				</option>
				<option value="2">
					Bulk edit
				</option>
				<option value="3">
					Export
				</option>
			</select>
			<button class="btn btn-sm btn-default">
				Apply
			</button>
		</div>
		<div class="col-sm-4 m-b-xs">
			
		</div>
		<div class="col-sm-3">
			<div class="input-group search-group">
				<input type="text" class="input-sm form-control" placeholder="Email" id="keywords" value="{{.keywords}}" />
				<span class="input-group-btn">
					<button class="btn btn-sm btn-default" type="button" data-url="/adminUser/index">Search</button>
				</span>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-striped b-t b-light">
			<thead>
				<tr>
					<th width="20">
						<input type="checkbox">
					</th>
					{{$url := urlConcat "/adminUser/index" "keywords" .keywords}}
					<th 
					{{sorterTh $url "email" .sorter}}
					>
						Email
						<span class="th-sort">
							<i class="fa fa-sort-down"></i>
							<i class="fa fa-sort-up"></i>
							<i class="fa fa-sort"></i>
						</span>
					</th>
					<th
					{{sorterTh $url "username" .sorter}}
					>
						Username
						<span class="th-sort">
							<i class="fa fa-sort-down"></i>
							<i class="fa fa-sort-up"></i>
							<i class="fa fa-sort"></i>
						</span>
					</th>
					<th
					{{sorterTh $url "verified" .sorter}}
					>
						Verified
						<span class="th-sort">
							<i class="fa fa-sort-down"></i>
							<i class="fa fa-sort-up"></i>
							<i class="fa fa-sort"></i>
						</span>
					</th>
					<th
					{{sorterTh $url "createdTime" .sorter}}
					>
						Register Date
						<span class="th-sort">
							<i class="fa fa-sort-down"></i>
							<i class="fa fa-sort-up"></i>
							<i class="fa fa-sort"></i>
						</span>
					</th>
					<th width="30">
					</th>
				</tr>
			</thead>
			<tbody>
				{{range .users}}
				<tr>
					<td>
						<input type="checkbox" name="post[]" value="2">
					</td>
					<td>
						{{.Email}}
					</td>
					<td>
						{{.Username}}
					</td>
					<td>
						{{.Verified}}
					</td>
					<td>
						{{.CreatedTime|datetime}}
						<a href="#" class="active" data-toggle="class">
							<i class="fa fa-check text-success text-active">
							</i>
							<i class="fa fa-times text-danger text">
							</i>
						</a>
					</td>
					<td>
						<a href="#" class="btn btn-default">Send Email</a>
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>
	<footer class="panel-footer">
		<div class="row">
			<div class="col-sm-4 hidden-xs">
				<select class="input-sm form-control input-s-sm inline v-middle">
					<option value="0">
						Bulk action
					</option>
					<option value="1">
						Delete selected
					</option>
					<option value="2">
						Bulk edit
					</option>
					<option value="3">
						Export
					</option>
				</select>
				<button class="btn btn-sm btn-default">
					Apply
				</button>
			</div>
			<div class="col-sm-4 text-center">
				<small class="text-muted inline m-t-sm m-b-sm">
					showing 20-30 of 50 items
				</small>
			</div>
			<div class="col-sm-4 text-right text-center-xs">
				{{set . "url" (urlConcat "/adminUser/index" "sorter" .sorter "keywords" .keywords)}}
				{{template "admin/user/page.html" .}}
				
			</div>
		</div>
	</footer>
</section>
	
{{template "admin/footer.html" .}}

<script>
$(function() {
});
</script>

{{template "admin/end.html" .}}
