{{template "header.html" .}}

<div id="postsContainer">
	<div class="container">
	    <h2>归档 {{if $.curCateTitle}} - {{$.curCateTitle}}{{end}}</h2>
	</div>
	<div id="posts">
		
		<div class="each-post">
		    <ul>
		        {{range $.archives}}
		        <li><span class="archive-year">{{.Year}}</span>
        		    <ul>
        		        {{range .Posts}}
        		        <li>
        		            {{.PublicTime|date}} <a href="{{$.viewUrl}}/{{.NoteId}}">{{.Title}}</a>
        		        </li>
        		        {{end}}
        		    </ul>
    		    </li>
    		    {{end}}
		    </ul>
		</div>
	</div>
</div>

{{template "footer.html" .}}

</body>
</html>