@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../../fonts/open-sans2/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../../fonts/open-sans2/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../../fonts/open-sans2/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../../fonts/open-sans2/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
/*"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",  "BBAlpha Sans", "S60 Sans", Arial, sans-serif;*/
::selection {
  background: #000000;
  color: #ffffff;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
}
::-webkit-selection {
  background: #000000;
  color: #ffffff;
}
*,
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-weight: 300 !important;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
}
#headerContainer {
  height: 100px;
  background-color: #fff;
}
#posts {
  width: 845px;
  margin: auto;
}
#postsContainer {
  background: #f5f5f5 url("../../images/noise.png");
  padding-bottom: 5px;
}
/* header */
#header {
  color: #000000;
  position: relative;
  padding: 0 0 20px 0;
  margin-top: 15px;
}
#header h1 {
  margin: 0;
  font-size: 32px;
}
#header h1 a {
  color: #000000;
  font-size: 32px;
}
#header h1 a img {
  height: 40px;
}
#header #blogDesc {
  margin-top: 10px;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar-form {
  padding: 0;
}
/* posts */
#posts {
  padding-top: 10px;
}
#posts .each-post {
  border-bottom: 1px solid #ebeff2;
  margin-bottom: 10px;
  padding: 30px;
  background-color: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
#posts .each-post .title {
  font-size: 32px;
  color: #0fb264;
  padding: 0 0 15px 0;
}
#posts .each-post .title a {
  font-size: 32px;
  color: #0fb264;
  padding: 0 0 15px 0;
}
#posts .each-post .created-time {
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
#posts .each-post .more {
  background: #0fb264;
  padding: 9px 10px;
  border-radius: 2px;
  line-height: 1;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
}
#disqus_thread {
  border-top: 1px solid #eee;
  padding: 5px 0 0 0;
}
#search {
  width: 200px;
}
#footerContainer {
  background-color: #ffffff;
  color: #666666;
}
#footerContainer #footer a {
  color: #666666;
}
#footerContainer #footer ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
#posts img {
  max-width: 700px;
}
