// font
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../../fonts/open-sans2/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../../fonts/open-sans2/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../../fonts/open-sans2/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../../fonts/open-sans2/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff') format('woff');
}

/* leanote */
@font-face {
    font-family: 'leanoteregular';
    src: url('../../fonts/leanote/leanote-regular-webfont.eot');
    src: url('../../fonts/leanote/leanote-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/leanote/leanote-regular-webfont.woff') format('woff'),
         url('../../fonts/leanote/leanote-regular-webfont.ttf') format('truetype'),
         url('../../fonts/leanote/leanote-regular-webfont.svg#leanoteregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",  "BBAlpha Sans", "S60 Sans", Arial, sans-serif;*/

#logo {
	font-family: "leanoteregular";
	font-size: 36px;
}
#logo:before {
	content: "a";
}
#switcher span {
	font-family: "leanoteregular";
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	margin-top: 8px;
	padding: 0 5px;
}
#switcher span:before {
	content: "b";
}

.dropdown-menu {
  border-radius: 3px;
  margin:0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid @hColor;
  /*overflow-x: hidden; */
  /*overflow-y: scroll;*/
  box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px 0px;
}

.dropdown-menu li {
	list-style: none;
  padding-left: 10px;
  width: 100%;
  height: 30px; // 父设置了line-height, 子下拉也受影响, "新建笔记"
  line-height: 30px;
}
.dropdown-menu li > a {
  color: @aBlackColor;
  display: block;
  padding-right: 20px;
}
.dropdown-menu > li > a {
  padding: 3px 20px 3px 0;
}

#noteList {
  position: absolute;
  bottom: 0;
  top: 0;
  /*
  overflow-x: hidden;
  overflow-y: hidden;
  */
}

//-----------------
// 下拉菜单
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > ul.dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: -3px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 10px !important;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
// 箭头
.dropdown-submenu:after {
    display: block;
    content: " ";
    position: absolute;
    right: 0;
    top: 10px;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #666;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

// 动画
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
}
.dropdown-menu {
  -webkit-transform-origin: left;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(0, 0);
  display: block;
  
  transition: all 0.2s cubic-bezier(0.34, 1.21, 0.4, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.34, 1.21, 0.4, 1);
}

.dropdown-list {
	width: 530px;
	border-radius: 3px;
  ul {
  	margin: 0;
  	padding: 0;
  	li {
  		float: left;
  		width: 120px;
  		margin-left: 10px;
  		margin-bottom: 10px;
  		border: 1px dashed #ccc;
  	}
  }
}

.new-note-right {
	padding: 0 5px;
	padding-left: 3px
}
#leanoteMsg {
	line-height: 40px; margin-top: 10px; margin-left: 10px;
}
#newNoteWrap {
	line-height: 40px; margin-top: 10px;
}

#searchNotebookForAdd {
	line-height: normal;
	width: 200px;
	margin: 0 10px;
	margin-bottom: 10px;
	height: 30px;
	border-color: #ebeff2;
	box-shadow: none;
}
#searchNotebookForList {
	height: 30px;
	width: 90%;
	margin: 3px auto;
	border-color: #ebeff2;
	box-shadow: none;
}