@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../../fonts/open-sans2/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../../fonts/open-sans2/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../../fonts/open-sans2/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../../fonts/open-sans2/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
/*"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",  "BBAlpha Sans", "S60 Sans", Arial, sans-serif;*/
::selection {
  background: #000000;
  color: #ffffff;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
}
::-webkit-selection {
  background: #000000;
  color: #ffffff;
}
html,
body {
  background-color: #fbfcf7;
}
*,
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-weight: 300 !important;
}
a {
  color: #000000;
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
  color: #000000;
}
a.raw {
  color: #428bca;
}
a.raw:hover {
  color: #2a6496;
}
/* header */
#header {
  height: 60px;
  background-color: #fbfcf7;
  color: #ffffff;
  border-bottom: 1px solid #ebeff2;
  /* for app */
  webkit-user-select: none;
  /* 还不知 */
  -webkit-app-region: drag;
  /* -webkit-app-region: no-drag; */
}
#header a {
  color: #ccc;
}
#header li {
  color: #000000;
}
#header li a {
  color: #000000;
}
#searchWrap,
#logo,
#switcher,
#leftNotebook,
.noteSplit {
  display: none;
}
#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header ul li.dropdown {
  display: inline-block;
  height: 60px;
}
#header ul > li > a.dropdown-toggle {
  display: block;
  padding: 15px 5px 0 0;
  position: relative;
}
#header span.icon {
  display: inline-block;
  font-size: 28px;
  color: #999999;
}
.dropdown-menu {
  border-radius: 0;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #0fb264;
  overflow-x: hidden;
  overflow-y: auto;
}
.dropdown-menu li {
  padding-left: 10px;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.dropdown-menu > li > a {
  color: #000000;
  display: inline-block;
  padding: 3px 3px;
}
.dropdown-menu > li:hover,
.dropdown-menu > li:focus {
  background-color: #ebeff2;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #ebeff2;
}
.ios7-a {
  display: inline-block;
  padding: 0 10px 0 5px;
  height: 40px;
  vertical-align: middle;
  line-height: 38px;
  cursor: pointer;
}
/*********************/
#page {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#pageInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  zoom: 1;
}
#search {
  border: #bababa 1px solid;
  background-color: #fff;
  white-space: nowrap;
  position: absolute;
  height: 30px;
  left: 3px;
  right: 60px;
  margin-top: 3px;
}
#search label {
  display: none;
}
#searchButton {
  border: 0 none;
  width: 16px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 5px;
}
#searchInput {
  border: 0 none;
  overflow: hidden;
  position: absolute;
  right: 20px;
  left: 0px;
  padding-left: 10px;
  height: 28px;
}
#searchInput:focus {
  border: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#notesAndSort {
  background-color: #eee;
  border-bottom: 1px solid #ebeff2;
}
/* item list */
#noteItemList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  overflow-y: hidden;
  background-color: #f7f7f7;
  padding: 0 5px;
}
#noteItemList .item {
  position: relative;
  height: 110px;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ebeff2;
  border-radius: 3px;
  margin-top: 5px;
  background-color: #fff;
}
#noteItemList .item:hover,
#noteItemList .contextmenu-hover {
  background-color: #ddd !important;
  color: #000000;
}
#noteItemList .item-thumb {
  padding-left: 10px;
  width: 100px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  height: 100px;
  background-color: #fff;
  margin-right: 5px;
}
.item-thumb img {
  width: 100px;
}
#noteItemList .item-desc {
  position: absolute;
  left: 0;
  right: 100px;
  margin-left: 4px;
}
#noteItemList .item-desc .fa {
  color: #666;
}
#noteItemList .item-blog {
  position: absolute;
  right: 1px;
  font-size: 10px;
  z-index: 2;
  top: 1px;
  padding: 3px;
  cursor: pointer;
  width: 20px;
  text-align: center;
  opacity: 0.5;
  background-color: #464C5E;
}
#noteItemList .item-blog .fa {
  color: #fff !important;
}
#noteItemList .item-blog:hover {
  opacity: 0.8;
}
.item-title {
  /*font-weight: 400;*/
  font-size: 16px;
  height: 22px;
  line-height: 20px;
  overflow: hidden;
  margin-bottom: 0px;
  color: #000000;
  border-bottom: dashed 1px #ebeff2;
}
/* note */
/* editor */
#editorTool {
  margin: 0;
  padding: 0;
  list-style: none;
}
#editorTool li {
  display: inline-block;
}
#noteTitle:focus {
  outline: none !important;
}
#editor,
#mdEditor {
  z-index: 2;
  top: 71px;
  bottom: 0px;
  right: 0;
  left: 0;
  padding: 0;
  display: none;
}
#mdEditor {
  z-index: 1;
  background-color: #fff;
  bottom: 10px;
}
#mdEditor #md-section-helper,
#mdEditor #wmd-input {
  font-size: 14px;
  line-height: 22px;
}
#editorContent {
  position: absolute;
  top: 30px;
  bottom: 10px;
  right: 0;
  left: 0;
  overflow: auto;
}
/* 包裹iframe */
#editor .mce-ifr {
  border: none;
  overflow: hidden !important;
  /*不知道哪里设置了auto*/
  /*border-radius: 5px;*/
}
/* 最顶层 */
#editor .mce-tinymce {
  border: none;
}
/*编辑器按钮*/
#mceToolbar,
#wmd-button-bar {
  position: relative;
  height: 30px;
  overflow: hidden;
  background-color: #fbfcf7;
}
/* 编辑器工具 需要important, 因为mce还要有js加载css, 肯定在此之后 */
/*加高, 之前显得拥挤*/
.mce-btn-small button {
  padding: 5px 5px !important;
  line-height: 20px !important;
}
.mce-btn {
  background-color: #fbfcf7 !important;
}
.mce-menubtn.mce-btn-small span {
  line-height: 20px !important;
}
.mce-btn span {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif !important;
}
.mce-primary button,
.mce-primary button i {
  text-shadow: none;
}
.mce-primary {
  background-color: #47a447 !important;
  border-color: #398439 !important;
}
.mce-menu-item:hover,
.mce-menu-item.mce-selected,
.mce-menu-item:focus {
  background-color: #ebeff2;
}
.mce-menu-item:hover span,
.mce-menu-item.mce-selected span,
.mce-menu-item:focus span {
  color: #000 !important;
}
.mce-menu-item-normal.mce-active {
  background-color: #ebeff2;
}
.tool-split {
  display: inline-block;
  line-height: 25px;
  color: #ddd;
}
/*标签与其它工具*/
#tool {
  display: none;
  border-bottom: 1px solid #ddd;
}
/* tag */
#tag {
  height: 40px;
  line-height: 38px;
}
#tag .dropdown {
  line-height: 30px;
}
#addTagInput {
  line-height: 25px;
  display: none;
  padding: 0;
  border: none;
  background-color: #fbfcf7;
}
#addTagInput:focus {
  outline: none;
}
.label-default {
  background-color: #464C5E;
}
.label-red {
  background-color: #d9534f;
}
.label-yellow {
  background-color: #f0ad4e;
}
.label-blue {
  background-color: #428bca;
}
.label-green {
  background-color: #5cb85c;
}
.label {
  border-radius: 0;
  font-weight: normal;
}
.label i {
  width: 10px;
  cursor: pointer;
  font-style: normal;
  /*border-left: 1px solid #ccc;*/
  display: inline-block;
  padding-left: 3px;
  opacity: 0;
}
.label i:hover {
  opacity: 1;
}
/* leanote nav */
#leanoteNav {
  position: absolute;
  right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.5;
  z-index: 11;
  margin-right: 2px;
}
#leanoteNav h1 {
  margin: 0;
  font-size: 18px;
  padding: 3px;
  cursor: pointer;
}
#leanoteNav i {
  padding: 3px;
}
#leanoteNav span {
  display: none;
}
#leanoteNav #leanoteNavContent {
  display: none;
  overflow: auto;
}
#leanoteNav.unfolder {
  min-width: 200px;
  max-width: 300px;
  opacity: 0.8;
}
#leanoteNav.unfolder h1 {
  border-bottom: 1px dashed #ebeff2;
}
#leanoteNav.unfolder span {
  display: inline;
}
#leanoteNav.unfolder #leanoteNavContent {
  display: block;
  min-height: 30px;
}
#leanoteNav ul {
  margin: 0;
  padding-left: 23px;
}
#leanoteNav ul li {
  list-style-type: disc;
}
#leanoteNav ul li a:hover {
  color: #0fb264;
}
#leanoteNav ul .nav-h2 {
  margin-left: 20px;
}
#leanoteNav ul .nav-h3 {
  margin-left: 30px;
}
#leanoteNav ul .nav-h4 {
  margin-left: 40px;
}
#leanoteNav ul .nav-h5 {
  margin-left: 50px;
}
.scrollTo-a {
  cursor: pointer !important;
}
#noteRead {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 100;
  padding-left: 5px;
  background-color: #fff;
}
#noteReadContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
#noteReadTop {
  position: absolute;
  height: 60px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ebeff2;
}
#noteReadTitle {
  margin: 3px 0;
}
#noteReadContent {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  padding: 3px;
}
/*scroll*/
/*
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #41586e;
  opacity: 0.1;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#dadada
}
::-webkit-scrollbar-thumb:active {
  background-color:#606060
}
::-webkit-scrollbar-thumb:disabled {
  background-color:#f9f9f9
}
::-webkit-scrollbar-corner {
  background-color:#f0f0f0
}
::-webkit-scrollbar-button {
  height: 0;
  background-color:#f0f0f0;
  background-repeat:no-repeat
}
::-webkit-scrollbar-button:vertical {
  height:0px
}
::-webkit-scrollbar-button:horizontal {
  width:33px
}
::-webkit-scrollbar-button:horizontal:increment {
  background-position:0 -444px
}
::-webkit-scrollbar-button:horizontal:decrement {
  background-position:12px -425px
}
::-webkit-scrollbar-button:vertical:increment {
  background-position:-1px -391px
}
::-webkit-scrollbar-button:vertical:decrement {
  background-position:-1px -358px
}
::-webkit-scrollbar-button:hover {
  background-color:#dadada
}
::-webkit-scrollbar-button:horizontal:increment:hover {
  background-position:0 -548px
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
  background-position:12px -529px
}
::-webkit-scrollbar-button:vertical:increment:hover {
  background-position:-1px -495px
}
::-webkit-scrollbar-button:vertical:decrement:hover {
  background-position:-1px -462px
}
::-webkit-scrollbar-button:active {
  background-color:#606060
}
::-webkit-scrollbar-button:horizontal:increment:active {
  background-position:0 -652px
}
::-webkit-scrollbar-button:horizontal:decrement:active {
background-position:12px -633px
}
::-webkit-scrollbar-button:vertical:increment:active {
background-position:-1px -599px
}
::-webkit-scrollbar-button:vertical:decrement:active {
background-position:-1px -566px
}
::-webkit-scrollbar-button:disabled {
background-color:#f9f9f9
}
::-webkit-scrollbar-button:horizontal:increment:disabled {
background-position:0 -756px
}
::-webkit-scrollbar-button:horizontal:decrement:disabled {
background-position:12px -737px
}
::-webkit-scrollbar-button:vertical:increment:disabled {
background-position:-1px -703px
}
::-webkit-scrollbar-button:vertical:decrement:disabled {
background-position:-1px -670px
}
*/
/*from notebook*/
/*::-webkit-scrollbar{width:7px;height:7px;}::-webkit-scrollbar-thumb{background-color:rgba(50,50,50,0.3);}::-webkit-scrollbar-thumb:hover{background-color:rgba(50,50,50,0.6);}::-webkit-scrollbar-track{background-color:rgba(50,50,50,0.1);}::-webkit-scrollbar-track:hover{background-color:rgba(50,50,50,0.2);}
*/
.fa-calendar {
  color: #666;
}
.dropdown-menu .fa {
  width: 15px;
}
.dropdown-menu span,
.dropdown-menu a,
.dropdown-menu li {
  cursor: default;
}
#topNav a {
  display: inline-block;
  line-height: 60px;
}
.tab-pane {
  padding: 5px 0 0 0;
}
.alert {
  margin-bottom: 10px;
}
.btn {
  border-radius: 0 !important;
}
#notebookNavForNewNote li,
#notebookNavForNewSharedNote > li {
  padding-left: 0;
  border-bottom: 1px solid #ebeff2;
}
#notebookNavForNewNote > li:hover,
#notebookNavForNewNote > li:focus,
#notebookNavForNewSharedNote > li:hover,
#notebookNavForNewSharedNote > li:focus {
  background: none;
}
.new-note-left {
  padding: 0 5px;
  width: 95px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px dashed #ebeff2;
}
.new-note-left:hover {
  background-color: #ebeff2;
}
.new-note-right {
  padding: 0 5px;
}
.new-note-right:hover {
  background-color: #ebeff2;
}
#historyList table {
  width: 100%;
}
#historyList .btns {
  border-top: 1px dashed #eee;
  padding: 5px 0;
}
#left-column {
  width: 100% !important;
}
#editorMask {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: -10;
  padding-top: 50px;
  text-align: center;
}
#editorMask .fa,
#editorMask a {
  font-size: 24px;
}
#editorMask a {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ebeff2;
  padding: 10px;
}
#editorMask a:hover {
  background-color: #65bd77;
  color: #fff;
}
html,
body {
  background-color: #fbfcf7;
  overflow: hidden;
}
#right-column,
#newNoteMarkdownBtn,
#newShareNoteMarkdownBtn,
.new-split,
#editorMask,
#sortType,
#myProfile,
#demoRegister {
  display: none;
}
#mainMask {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fbfcf7;
  text-align: center;
  padding-top: 100px;
  z-index: 1000;
}
#header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  color: #ccc;
}
#header #leanoteMsg {
  position: absolute;
  width: 700px;
  left: 0;
  right: 0;
  text-align: right;
  line-height: 60px;
  margin: auto;
}
#newNoteWrap {
  line-height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
#newNoteWrap,
#topNav {
  opacity: 0;
}
#newNoteWrap:hover,
#topNav:hover {
  opacity: 1;
}
#mainContainer {
  overflow-y: hidden;
}
#newMyNote,
#newSharedNote {
  position: relative;
}
#newMyNote .dropdown-menu,
#newSharedNote .dropdown-menu {
  left: 0px  !important;
}
#newMyNote .dropdown,
#newSharedNote .dropdown {
  position: static;
}
.dropdown-menu {
  border: 1px solid #ccc;
  background-color: #fbfcf7;
}
#note {
  position: absolute;
  width: 700px;
  margin: auto;
  height: 100%;
  left: 0;
  right: 0;
}
#editor,
#mdEditor {
  position: absolute;
  top: 60px;
  z-index: 2;
}
#wmd-input {
  border: none;
  background-color: #fbfcf7;
  font-size: 16px !important;
}
#md-section-helper {
  display: none;
}
#mdEditorPreview {
  top: 43px !important;
}
#mceToolbar,
#wmd-button-bar {
  height: 40px;
  padding: 5px 0;
}
.editorBg {
  height: 3px;
  background: url(/images/editor/editor-shadow.png) no-repeat center bottom #f9faf4;
}
.mce-btn-small i,
.mce-menubtn.mce-btn-small span,
.wmd-button > span {
  opacity: 0.85;
}
.mce-ico {
  font-size: 18px;
  line-height: 18px;
  width: 18px;
  height: 18px;
}
.tool-split {
  line-height: 30px;
}
.mce-menubtn.mce-fixed-width.mce-btn-small span {
  width: 80px;
}
.mce-menubtn.mce-btn-small span {
  font-size: 16px;
}
#editorContent_ifr html {
  border: none !important;
}
#noteTop {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 150px;
  padding: 15px 0;
  height: 59px;
}
#noteTitleDiv {
  height: 30px;
}
#noteTitle {
  height: 100%;
  padding: 0px 3px;
  width: 100%;
  border: none;
  background-color: #fbfcf7;
}
#noteList {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 10px;
  margin-top: 60px;
  width: 200px;
  z-index: 0;
  opacity: 0.8;
  overflow-x: hidden;
  overflow-y: hidden;
  /*
	&:hover {
		#noteItemListWrap {
			display: block;
		}
		#notesAndSort {
			display: block;
		}
	}
	*/
}
#noteList #notesAndSort {
  display: none;
}
#noteList #noteItemListWrap {
  display: none;
}
#notesAndSort {
  background: none;
}
#noteItemList {
  background: none;
}
#noteItemList .item {
  background: none;
}
.item-active,
#noteItemList .item-active:hover {
  background-color: #F5F8EA !important;
  color: #000;
}
.item-active .item-desc .fa,
#noteItemList .item-active:hover .item-desc .fa {
  color: #666 !important;
}
.item-active .item-title,
#noteItemList .item-active:hover .item-title {
  color: #000;
}
#leanoteNav {
  background-color: #fbfcf7;
  opacity: 0.3;
  right: -30px;
}
.new-note-right {
  padding: 0 2px;
}
#loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: url(../../images/loading-a-20-black.gif);
  margin-top: 10px;
  visibility: hidden;
}
#moreBtn {
  right: 0 !important;
}
#toggleEditorMode {
  margin: 0 10px !important;
}
