@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../../fonts/open-sans2/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../../fonts/open-sans2/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../../fonts/open-sans2/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../../fonts/open-sans2/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
/* leanote */
@font-face {
  font-family: 'leanoteregular';
  src: url('../../fonts/leanote/leanote-regular-webfont.eot');
  src: url('../../fonts/leanote/leanote-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/leanote/leanote-regular-webfont.woff') format('woff'), url('../../fonts/leanote/leanote-regular-webfont.ttf') format('truetype'), url('../../fonts/leanote/leanote-regular-webfont.svg#leanoteregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",  "BBAlpha Sans", "S60 Sans", Arial, sans-serif;*/
#noteItemList,
#notebook,
#leftNotebook,
.slimScrollDiv,
#editorContent_ifr,
.mce-edit-area,
.mce-container-body,
.mce-tinymce,
#editor .mce-ifr,
.wmd-input,
#noteReadContent,
#attachList,
#tags {
  -webkit-overflow-scrolling: touch !important;
}
.btn {
  border-radius: 2px;
}
.alert {
  margin-bottom: 10px;
}
#logo {
  font-family: "leanoteregular";
  font-size: 36px;
}
#logo:before {
  content: "a";
}
#switcher span {
  font-family: "leanoteregular";
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  height: 34px;
  line-height: 34px;
  margin-top: 8px;
  padding: 0 5px;
}
#switcher span:before {
  content: "b";
}
.noteSplit {
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  overflow: hidden;
  z-index: 5;
  cursor: col-resize;
}
.dropdown-menu {
  border-radius: 3px;
  margin: 0;
  border: 1px solid #0fb264;
  /*overflow-x: hidden; */
  /*overflow-y: scroll;*/
  box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px 0px;
}
.dropdown-menu:before {
  content: "";
  width: 20px;
  height: 12px;
  position: absolute;
  top: -12px;
  right: 20px;
  background-image: url("../../images/triangle_2x.png");
  background-size: 20px 12px;
}
.dropdown-submenu .dropdown-menu:before {
  background: none;
}
#searchNotebookForAddDropdownList,
#searchNotebookForAddShareDropdownList {
  left: -200px;
}
#searchNotebookForAddDropdownList:before,
#searchNotebookForAddShareDropdownList:before {
  left: 190px;
  right: inherit;
}
.dropdown-menu li {
  list-style: none;
  padding-left: 10px;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.dropdown-menu li > a {
  color: #000000;
  display: block;
  padding-right: 20px;
}
.dropdown-menu > li > a {
  padding: 3px 20px 3px 0;
}
#notebookNavForNewNote li:hover {
  background: none;
}
#noteList {
  position: absolute;
  bottom: 0;
  top: 0;
  /*
  overflow-x: hidden;
  overflow-y: hidden;
  */
}
#noteAndEditorMask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  text-align: center;
  padding-top: 60px;
  opacity: .3;
  z-index: 20;
  display: none;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > ul.dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: -3px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-top: 10px !important;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:after {
  display: block;
  content: " ";
  position: absolute;
  right: 0;
  top: 10px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #666;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.open > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.dropdown-menu {
  opacity: 0;
  display: block;
  -webkit-transform: scale(0, 0);
  -webkit-transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: all 0.2s cubic-bezier(0.34, 1.21, 0.4, 1);
  -o-transform: scale(0, 0);
  -o-transform-origin: top;
  -o-animation-fill-mode: forwards;
  -o-transition: all 0.2s cubic-bezier(0.34, 1.21, 0.4, 1);
  -moz-transform: scale(0, 0);
  -moz-transform-origin: top;
  -moz-animation-fill-mode: forwards;
  -moz-transition: all 0.2s cubic-bezier(0.34, 1.21, 0.4, 1);
  transform: scale(0, 0);
  transform-origin: top;
  animation-fill-mode: forwards;
  transition: all 0.2s cubic-bezier(0.34, 1.21, 0.4, 1);
}
.dropdown-list {
  width: 530px;
  border-radius: 3px;
}
.dropdown-list ul {
  margin: 0;
  padding: 0;
}
.dropdown-list ul li {
  float: left;
  width: 120px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px dashed #ccc;
}
.new-note-right {
  padding: 0 5px;
  padding-left: 3px;
}
#leanoteMsg {
  line-height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
#newNoteWrap {
  line-height: 40px;
  margin-top: 10px;
}
#searchNotebookForAdd {
  line-height: normal;
  width: 200px;
  margin: 0 10px;
  margin-bottom: 10px;
  height: 30px;
  border-color: #ebeff2;
  box-shadow: none;
}
#myNotebooks .folderBody {
  padding-top: 3px;
}
.folderBody {
  overflow-x: hidden;
}
#searchNotebookForList {
  height: 30px;
  width: 90%;
  margin: 3px auto;
  margin-top: 0;
  border-color: #ebeff2;
  box-shadow: none;
}
#noteItemList .item-setting,
#noteItemList .item-blog {
  position: absolute;
  right: 1px;
  font-size: 10px;
  z-index: 2;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  width: 20px;
  text-align: center;
  opacity: 0.5;
  background-color: #464C5E;
}
#noteItemList .item-setting .fa,
#noteItemList .item-blog .fa {
  color: #fff !important;
}
#noteItemList .item-setting:hover,
#noteItemList .item-blog:hover {
  opacity: 0.8;
}
#noteItemList .item-blog {
  top: 1px;
}
#noteItemList .item-setting {
  bottom: 0;
  display: none;
}
#noteItemList .item:hover .item-setting {
  display: block;
}
.friend-header {
  position: relative;
}
.friend-header .notebook-setting {
  display: none;
}
.friend-header:hover .notebook-setting {
  display: block;
}
.each-user {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  border: 1px solid #eee;
  border-radius: 3px;
}
.notebook-number-notes {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: inline-block;
  line-height: 20px !important;
  height: 20px;
  margin-top: 5px;
  padding: 0 3px;
}
.notebook-setting {
  display: none;
  position: absolute;
  right: 1px;
  top: 0;
  bottom: 0;
  z-index: 2;
  line-height: 30px;
}
.notebook-setting:before {
  content: "\f013";
}
.ztree li a:hover .notebook-setting {
  display: block;
}
#myTag .folderBody {
  padding: 0 3px;
  padding-bottom: 3px;
}
#myTag .folderBody li {
  float: left;
  padding: 3px;
  line-height: normal;
}
#notebookList {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.ztree {
  padding: 0px;
}
#upload {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  left: 0px;
  padding: 0;
  background-color: #fff;
  text-align: center;
  display: none;
}
#upload #drop {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}
#drop.in {
  border: 1px solid #000000;
}
#drop.hover {
  border: 2px solid #000000;
}
#uploadMsg {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 10px;
  overflow: scroll;
  list-style: none;
}
#uploadAttach {
  position: relative;
  margin-top: 5px;
}
.dropzone {
  text-align: center;
}
.dropzone input {
  display: none;
}
.dropzone.in {
  border: 1px solid #000000;
}
.dropzone.hover {
  border: 2px solid #000000;
}
#attachUploadMsg,
#avatarUploadMsg {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 240px;
  z-index: 3;
}
#attachUploadMsg .alert,
#avatarUploadMsg .alert {
  margin: 0;
  padding: 0 3px;
  margin-top: 10px;
}
#attachMenu {
  width: 450px;
  padding: 10px 5px;
}
#attachList {
  margin: 0;
  padding: 0;
  max-height: 450px;
  overflow-y: auto;
}
#attachList li {
  display: block;
  margin: 0;
  padding: 0 3px;
  border-radius: 3px;
  border-bottom: 1px dashed #eee;
  height: 45px;
  line-height: 45px;
}
#attachList li div {
  float: left;
}
#attachList li .attach-title {
  width: 290px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#attachList li .attach-process {
  float: right;
}
#attachList li.loading {
  text-align: center;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
#historyList img {
  max-width: 100%;
}
#avatar {
  height: 60px;
  max-width: 200px;
  display: inline-block;
  margin: 10px;
}
#noteReadTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#noteReadInfo {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #666;
}
.my-link,
.new-markdown-text-abbr,
.new-note-text-abbr {
  display: none;
}
#myAvatar {
  height: 30px;
  max-width: 30px;
  overflow: hidden;
  border-radius: 50%;
}
#tool {
  position: relative;
}
#tag {
  position: absolute;
  right: 300px;
  left: 0;
  top: 0;
  bottom: 0;
}
#tagColor {
  left: 10px;
}
#tagColor:before {
  content: "";
  background-image: none;
}
#addTagInput {
  width: 100px;
}
#notesAndSort {
  height: 36px;
}
#noteItemListWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 36px;
  bottom: 3px;
}
#mdEditorPreview {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
}
#left-column,
#right-column,
#mdSplitter {
  position: absolute;
  top: 0;
  bottom: 0;
}
#mdSplitter {
  width: 5px;
  height: 100%;
  overflow: hidden;
  z-index: 5;
  cursor: col-resize;
  left: 450px;
  background: none;
}
#left-column {
  left: 0;
  width: 450px;
}
#right-column {
  left: 450px;
  right: 0;
  overflow: hidden;
}
.wmd-panel-editor,
.preview-container,
#wmd-input {
  height: 100%;
}
.wmd-input,
.wmd-input:focus,
#md-section-helper {
  width: 100%;
  border: 1px #eee solid;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  resize: none;
  overflow-x: hidden;
}
/* 不能为display: none */
#md-section-helper {
  position: absolute;
  height: 0;
  overflow-y: scroll;
  padding: 0 6px;
  top: 10px;
  /*一条横线....*/
  z-index: -1;
  opacity: none;
}
#right-column {
  border: 1px dashed #BBBBBB;
  border-radius: 5px;
  padding-left: 5px;
}
.preview-container {
  overflow: auto;
}
.wmd-preview {
  width: 100%;
  font-size: 14px;
  overflow: auto;
  overflow-x: hidden;
}
.wmd-button-row,
.preview-button-row {
  padding: 0px;
  height: auto;
  margin: 0;
}
.wmd-spacer {
  width: 0px;
  height: 20px;
  margin-left: 10px;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}
.wmd-button,
.preview-button {
  width: 20px;
  height: 20px;
  display: inline-block;
  list-style: none;
  cursor: pointer;
  font-size: 17px;
}
.wmd-button {
  margin-left: 10px;
}
.preview-button {
  margin-right: 10px;
}
.wmd-button > span,
.preview-button > span {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 14px;
}
.top-nav {
  margin: 0 10px;
  display: inline-block;
  line-height: 60px;
}
.cm-item {
  position: relative;
}
.cm-item .cm-text {
  position: absolute;
  left: 23px;
  right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cm-item .cm-text .c-text {
  display: initial;
}
.b-m-mpanel {
  border-radius: 3px;
}
/* item list */
#noteItemList {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow-y: hidden;
  padding: 0 5px;
}
#noteItemList .item {
  position: relative;
  height: 110px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ebeff2;
  border-radius: 3px;
  margin-top: 5px;
  background-color: #fff;
}
#noteItemList .item:hover,
#noteItemList .contextmenu-hover {
  background-color: #ddd !important;
}
.item-active,
#noteItemList .item-active:hover {
  background-color: #65bd77 !important;
  color: #fff;
}
.item-active .fa,
#noteItemList .item-active:hover .fa {
  color: #eee !important;
}
.item-active .item-title,
#noteItemList .item-active:hover .item-title {
  color: #fff;
}
#noteItemList .item-thumb {
  width: 100px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 4px;
  height: 100px;
  background-color: #fff;
  margin-right: 5px;
  line-height: 100px;
  text-align: center;
}
.item-thumb img {
  max-width: 100px;
}
.item-title {
  /*font-weight: 400;*/
  font-size: 16px;
  height: 22px;
  line-height: 20px;
  overflow: hidden;
  margin-bottom: 0px;
  color: #000000;
  border-bottom: dashed 1px #ebeff2;
}
#noteItemList .item-desc {
  position: absolute;
  left: 0;
  top: 4px;
  right: 0px;
  margin-left: 4px;
}
#noteItemList .item-desc .fa {
  color: #666;
}
#noteItemList .item-image .item-desc {
  right: 100px;
}
.item-info {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.desc {
  margin: 0;
}
#editorMask {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: #fff;
  display: none;
  z-index: -10;
  padding-top: 50px;
  text-align: center;
}
#editorMask .fa,
#editorMask a {
  font-size: 24px;
}
#editorMask a {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ebeff2;
  padding: 10px;
}
#editorMask a:hover {
  background-color: #65bd77;
  color: #fff;
}
.note-mask {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  left: 3px;
  z-index: -1;
}
#noteMaskForLoading {
  padding-top: 60px;
  background: #fff;
  text-align: center;
  opacity: .3;
}
#themeForm td {
  padding: 5px;
  text-align: center;
}
#themeForm img {
  border: 1px solid #eee;
  padding: 2px;
}
.dropdown-menu .divider {
  margin: 3px 0;
}
.ace_eidtor,
.ace_editor * {
  font: 12px / normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
#editorContent {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  margin-top: 5px;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../../fonts/open-sans2/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../../fonts/open-sans2/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../../fonts/open-sans2/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../../fonts/open-sans2/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
/*"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",  "BBAlpha Sans", "S60 Sans", Arial, sans-serif;*/
::selection {
  background: #000000;
  color: #ffffff;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
}
::-webkit-selection {
  background: #000000;
  color: #ffffff;
}
html,
body {
  background-color: #fbfcf7;
}
*,
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-weight: 300 !important;
}
a {
  color: #000000;
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
  color: #000000;
}
a.raw {
  color: #428bca;
}
a.raw:hover {
  color: #2a6496;
}
/* header */
#header {
  height: 60px;
  background-color: #fbfcf7;
  color: #ffffff;
  border-bottom: 1px solid #ebeff2;
  /* for app */
  webkit-user-select: none;
  /* 还不知 */
  -webkit-app-region: drag;
  /* -webkit-app-region: no-drag; */
}
#header a {
  color: #ccc;
}
#header li {
  color: #000000;
}
#header li a {
  color: #000000;
}
#searchWrap,
#logo,
#switcher,
#leftNotebook,
.noteSplit {
  display: none;
}
#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header ul li.dropdown {
  display: inline-block;
  height: 60px;
}
#header ul > li > a.dropdown-toggle {
  display: block;
  padding: 15px 5px 0 0;
  position: relative;
}
#header span.icon {
  display: inline-block;
  font-size: 28px;
  color: #999999;
}
.dropdown-menu {
  border-radius: 0;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #0fb264;
  overflow-x: hidden;
  overflow-y: auto;
}
.dropdown-menu li {
  padding-left: 10px;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.dropdown-menu > li > a {
  color: #000000;
  display: inline-block;
  padding: 3px 3px;
}
.dropdown-menu > li:hover,
.dropdown-menu > li:focus {
  background-color: #ebeff2;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #ebeff2;
}
.ios7-a {
  display: inline-block;
  padding: 0 10px 0 5px;
  height: 40px;
  vertical-align: middle;
  line-height: 38px;
  cursor: pointer;
}
/*********************/
#page {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#pageInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  zoom: 1;
}
#search {
  border: #bababa 1px solid;
  background-color: #fff;
  white-space: nowrap;
  position: absolute;
  height: 30px;
  left: 3px;
  right: 60px;
  margin-top: 3px;
}
#search label {
  display: none;
}
#searchButton {
  border: 0 none;
  width: 16px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 5px;
}
#searchInput {
  border: 0 none;
  overflow: hidden;
  position: absolute;
  right: 20px;
  left: 0px;
  padding-left: 10px;
  height: 28px;
}
#searchInput:focus {
  border: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#notesAndSort {
  background-color: #eee;
  border-bottom: 1px solid #ebeff2;
}
/* item list */
#noteItemList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  overflow-y: hidden;
  background-color: #f7f7f7;
  padding: 0 5px;
}
#noteItemList .item {
  position: relative;
  height: 110px;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ebeff2;
  border-radius: 3px;
  margin-top: 5px;
  background-color: #fff;
}
#noteItemList .item:hover,
#noteItemList .contextmenu-hover {
  background-color: #ddd !important;
  color: #000000;
}
#noteItemList .item-thumb {
  padding-left: 10px;
  width: 100px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  height: 100px;
  background-color: #fff;
  margin-right: 5px;
}
.item-thumb img {
  width: 100px;
}
#noteItemList .item-desc {
  position: absolute;
  left: 0;
  right: 100px;
  margin-left: 4px;
}
#noteItemList .item-desc .fa {
  color: #666;
}
#noteItemList .item-blog {
  position: absolute;
  right: 1px;
  font-size: 10px;
  z-index: 2;
  top: 1px;
  padding: 3px;
  cursor: pointer;
  width: 20px;
  text-align: center;
  opacity: 0.5;
  background-color: #464C5E;
}
#noteItemList .item-blog .fa {
  color: #fff !important;
}
#noteItemList .item-blog:hover {
  opacity: 0.8;
}
.item-title {
  /*font-weight: 400;*/
  font-size: 16px;
  height: 22px;
  line-height: 20px;
  overflow: hidden;
  margin-bottom: 0px;
  color: #000000;
  border-bottom: dashed 1px #ebeff2;
}
/* note */
/* editor */
#editorTool {
  margin: 0;
  padding: 0;
  list-style: none;
}
#editorTool li {
  display: inline-block;
}
#noteTitle:focus {
  outline: none !important;
}
#editor,
#mdEditor {
  z-index: 2;
  top: 71px;
  bottom: 0px;
  right: 0;
  left: 0;
  padding: 0;
  display: none;
}
#mdEditor {
  z-index: 1;
  background-color: #fff;
  bottom: 10px;
}
#mdEditor #md-section-helper,
#mdEditor #wmd-input {
  font-size: 14px;
  line-height: 22px;
}
#editorContent {
  position: absolute;
  top: 30px;
  bottom: 10px;
  right: 0;
  left: 0;
  overflow: auto;
}
/* 包裹iframe */
#editor .mce-ifr {
  border: none;
  overflow: hidden !important;
  /*不知道哪里设置了auto*/
  /*border-radius: 5px;*/
}
/* 最顶层 */
#editor .mce-tinymce {
  border: none;
}
/*编辑器按钮*/
#mceToolbar,
#wmd-button-bar {
  position: relative;
  height: 30px;
  overflow: hidden;
  background-color: #fbfcf7;
}
/* 编辑器工具 需要important, 因为mce还要有js加载css, 肯定在此之后 */
/*加高, 之前显得拥挤*/
.mce-btn-small button {
  padding: 5px 5px !important;
  line-height: 20px !important;
}
.mce-btn {
  background-color: #fbfcf7 !important;
}
.mce-menubtn.mce-btn-small span {
  line-height: 20px !important;
}
.mce-btn span {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif !important;
}
.mce-primary button,
.mce-primary button i {
  text-shadow: none;
}
.mce-primary {
  background-color: #47a447 !important;
  border-color: #398439 !important;
}
.mce-menu-item:hover,
.mce-menu-item.mce-selected,
.mce-menu-item:focus {
  background-color: #ebeff2;
}
.mce-menu-item:hover span,
.mce-menu-item.mce-selected span,
.mce-menu-item:focus span {
  color: #000 !important;
}
.mce-menu-item-normal.mce-active {
  background-color: #ebeff2;
}
.tool-split {
  display: inline-block;
  line-height: 25px;
  color: #ddd;
}
/*标签与其它工具*/
#tool {
  display: none;
  border-bottom: 1px solid #ddd;
}
/* tag */
#tag {
  height: 40px;
  line-height: 38px;
}
#tag .dropdown {
  line-height: 30px;
}
#addTagInput {
  line-height: 25px;
  display: none;
  padding: 0;
  border: none;
  background-color: #fbfcf7;
}
#addTagInput:focus {
  outline: none;
}
.label-default {
  background-color: #464C5E;
}
.label-red {
  background-color: #d9534f;
}
.label-yellow {
  background-color: #f0ad4e;
}
.label-blue {
  background-color: #428bca;
}
.label-green {
  background-color: #5cb85c;
}
.label {
  border-radius: 0;
  font-weight: normal;
}
.label i {
  width: 10px;
  cursor: pointer;
  font-style: normal;
  /*border-left: 1px solid #ccc;*/
  display: inline-block;
  padding-left: 3px;
  opacity: 0;
}
.label i:hover {
  opacity: 1;
}
/* leanote nav */
#leanoteNav {
  position: absolute;
  right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.5;
  z-index: 11;
  margin-right: 2px;
}
#leanoteNav h1 {
  margin: 0;
  font-size: 18px;
  padding: 3px;
  cursor: pointer;
}
#leanoteNav i {
  padding: 3px;
}
#leanoteNav span {
  display: none;
}
#leanoteNav #leanoteNavContent {
  display: none;
  overflow: auto;
}
#leanoteNav.unfolder {
  min-width: 200px;
  max-width: 300px;
  opacity: 0.8;
}
#leanoteNav.unfolder h1 {
  border-bottom: 1px dashed #ebeff2;
}
#leanoteNav.unfolder span {
  display: inline;
}
#leanoteNav.unfolder #leanoteNavContent {
  display: block;
  min-height: 30px;
}
#leanoteNav ul {
  margin: 0;
  padding-left: 23px;
}
#leanoteNav ul li {
  list-style-type: disc;
}
#leanoteNav ul li a:hover {
  color: #0fb264;
}
#leanoteNav ul .nav-h2 {
  margin-left: 20px;
}
#leanoteNav ul .nav-h3 {
  margin-left: 30px;
}
#leanoteNav ul .nav-h4 {
  margin-left: 40px;
}
#leanoteNav ul .nav-h5 {
  margin-left: 50px;
}
.scrollTo-a {
  cursor: pointer !important;
}
#noteRead {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 100;
  padding-left: 5px;
  background-color: #fff;
}
#noteReadContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
#noteReadTop {
  position: absolute;
  height: 60px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ebeff2;
}
#noteReadTitle {
  margin: 3px 0;
}
#noteReadContent {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  padding: 3px;
}
/*scroll*/
/*
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #41586e;
  opacity: 0.1;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#dadada
}
::-webkit-scrollbar-thumb:active {
  background-color:#606060
}
::-webkit-scrollbar-thumb:disabled {
  background-color:#f9f9f9
}
::-webkit-scrollbar-corner {
  background-color:#f0f0f0
}
::-webkit-scrollbar-button {
  height: 0;
  background-color:#f0f0f0;
  background-repeat:no-repeat
}
::-webkit-scrollbar-button:vertical {
  height:0px
}
::-webkit-scrollbar-button:horizontal {
  width:33px
}
::-webkit-scrollbar-button:horizontal:increment {
  background-position:0 -444px
}
::-webkit-scrollbar-button:horizontal:decrement {
  background-position:12px -425px
}
::-webkit-scrollbar-button:vertical:increment {
  background-position:-1px -391px
}
::-webkit-scrollbar-button:vertical:decrement {
  background-position:-1px -358px
}
::-webkit-scrollbar-button:hover {
  background-color:#dadada
}
::-webkit-scrollbar-button:horizontal:increment:hover {
  background-position:0 -548px
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
  background-position:12px -529px
}
::-webkit-scrollbar-button:vertical:increment:hover {
  background-position:-1px -495px
}
::-webkit-scrollbar-button:vertical:decrement:hover {
  background-position:-1px -462px
}
::-webkit-scrollbar-button:active {
  background-color:#606060
}
::-webkit-scrollbar-button:horizontal:increment:active {
  background-position:0 -652px
}
::-webkit-scrollbar-button:horizontal:decrement:active {
background-position:12px -633px
}
::-webkit-scrollbar-button:vertical:increment:active {
background-position:-1px -599px
}
::-webkit-scrollbar-button:vertical:decrement:active {
background-position:-1px -566px
}
::-webkit-scrollbar-button:disabled {
background-color:#f9f9f9
}
::-webkit-scrollbar-button:horizontal:increment:disabled {
background-position:0 -756px
}
::-webkit-scrollbar-button:horizontal:decrement:disabled {
background-position:12px -737px
}
::-webkit-scrollbar-button:vertical:increment:disabled {
background-position:-1px -703px
}
::-webkit-scrollbar-button:vertical:decrement:disabled {
background-position:-1px -670px
}
*/
/*from notebook*/
/*::-webkit-scrollbar{width:7px;height:7px;}::-webkit-scrollbar-thumb{background-color:rgba(50,50,50,0.3);}::-webkit-scrollbar-thumb:hover{background-color:rgba(50,50,50,0.6);}::-webkit-scrollbar-track{background-color:rgba(50,50,50,0.1);}::-webkit-scrollbar-track:hover{background-color:rgba(50,50,50,0.2);}
*/
.fa-calendar {
  color: #666;
}
.dropdown-menu .fa {
  width: 15px;
}
.dropdown-menu span,
.dropdown-menu a,
.dropdown-menu li {
  cursor: default;
}
#topNav a {
  display: inline-block;
  line-height: 60px;
}
.tab-pane {
  padding: 5px 0 0 0;
}
.alert {
  margin-bottom: 10px;
}
.btn {
  border-radius: 0 !important;
}
#notebookNavForNewNote li,
#notebookNavForNewSharedNote > li {
  padding-left: 0;
  border-bottom: 1px solid #ebeff2;
}
#notebookNavForNewNote > li:hover,
#notebookNavForNewNote > li:focus,
#notebookNavForNewSharedNote > li:hover,
#notebookNavForNewSharedNote > li:focus {
  background: none;
}
.new-note-left {
  padding: 0 5px;
  width: 95px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px dashed #ebeff2;
}
.new-note-left:hover {
  background-color: #ebeff2;
}
.new-note-right {
  padding: 0 5px;
}
.new-note-right:hover {
  background-color: #ebeff2;
}
#historyList table {
  width: 100%;
}
#historyList .btns {
  border-top: 1px dashed #eee;
  padding: 5px 0;
}
#left-column {
  width: 100% !important;
}
#editorMask {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: -10;
  padding-top: 50px;
  text-align: center;
}
#editorMask .fa,
#editorMask a {
  font-size: 24px;
}
#editorMask a {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ebeff2;
  padding: 10px;
}
#editorMask a:hover {
  background-color: #65bd77;
  color: #fff;
}
