<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>leanote</title>
<link href="/public/css/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="/public/mobile/css/base.css" rel="stylesheet" type="text/css">
<link href="/public/css/bootstrap.css" rel="stylesheet" />
<link href="/public/mobile/css/leanote.css" rel="stylesheet" type="text/css">

<script>
function log(o) {
    // console.log(o);
}
</script>

</head>
<body>

<div id="preloader">
	<div id="status">
    	<p class="center-text">
        </p>
    </div>
</div>

<div class="all-elements" style="height: 100%">
    <div id="sidebar" class="page-sidebar sidebar-content-background">
        <div class="page-sidebar-scroll">
			<div>
            	<div class="sidebar-section">
                	<a href="#" class="sidebar-close"></a>
                	<em>leanote</em>
                </div>
                <div class="sidebar-decoration"></div>         
                <div id="userInfo">
                    {{.userInfo.Username}}
                </div>
                <div class="sidebar-decoration"></div>                   
                
                <div class="sidebar-navigation">     
                    <div class="nav-item">
                        <a href="#" class="nav-newest">最新笔记</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-myNotebooks">我的笔记本</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-myTags">我的标签</a>
                    </div>
                </div>
                <div class="sidebar-decoration"></div>
                <div class="sidebar-navigation">     
                    <div class="nav-item">
                        <a href="#" class="nav-logout">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="content" class="page-content" style="position: absolute;background-color: #fff;width: 100%;">   
        <!-- notebooks -->
    	<div id="notebooks">
	        <!-- 头部 -->
	        <div class="content-controls clearfix">
	        	<div class="pull-left">
		        	<i class="fa fa-angle-left back"></i>
		        </div>
	        	<div class="pull-left">
		        	<span class="g-title">
		                我的笔记本
		            </span>
	        	</div>
	        	<!-- 其它按钮 -->
	        	<div class="pull-right btns">
	        	</div>
	        </div>
	         
	        <div class="each-container">
	            <div class="each-content" style="bottom: 0">
	                <ul id="notebookList">
	                </ul>
	            </div>
	            <!--
	            <div class="each-footer">
	                添加笔记本
	            </div>
	            -->
	        </div>
        </div>

        <!-- note -->
		<div id="notes">
			 <!-- 头部 -->
	        <div class="content-controls clearfix">
	        	<div class="pull-left">
		        	<i class="fa fa-angle-left back"></i>
		        </div>
	        	<div class="pull-left">
		        	<span class="g-title">
		        		XX的笔记
		            </span>
	        	</div>
	        	<!-- 其它按钮 -->
	        	<div class="pull-right btns">
	        	</div>
	        </div>
		
	        <div class="each-container">
	            <div class="each-content" style="bottom:0">
	                <div id="noteItemList">
	                </div>
	            </div>
	            <!--
	            <div class="each-footer">
	                添加笔记
	            </div>
	            -->
	        </div>
        </div>

        <!-- view -->
        <div id="view">
	        <div class="content-controls clearfix">
	        	<div class="pull-left">
		        	<i class="fa fa-angle-left back"></i>
		        </div>
	        	<div class="pull-left">
		        	<span class="g-title">
		        		笔记标题
		            </span>
	        	</div>
	        	<!-- 其它按钮 -->
	        	<div class="pull-right btns">
		        	<i class="fa fa-pencil" id="editBtn"></i>
	        	</div>
	        </div>
	        <div class="each-container">
	            <div class="each-content" style="bottom:0">
	            	<img id="loading" style="width: 30px; margin: auto; margin-top: 100px; height: 30px; display: none" src="/public/mobile/images/status.gif" />
	                <div id="noteContent"></div>
	            </div>
	            <!--
	            <div class="each-footer">
	            </div>
	            -->
	        </div>
	    </div>

    </div>  
</div>
<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/public/mobile/js/snap.js"></script>
<script src="/public/js/i18n/msg.{{.locale}}.js"></script>
<script src="/public/mobile/js/app/mobile-common.js"></script>
<script>
var UserInfo = json({{.userInfoJson}});
var notebooks = json({{.notebooks}});
</script>
<!--
// var shareNotebooks = json({{.shareNotebooks}});
// var sharedUserInfos = json({{.sharedUserInfos}});
// var tagsJson = json({{.tagsJson}});
-->
<script src="/public/mobile/js/app/mobile-notebook.js"></script>
<script src="/public/mobile/js/app/mobile-tag.js"></script>
<script src="/public/mobile/js/app/mobile-note.js"></script>
<script src="/public/mobile/js/app/mobile-page.js"></script>
<script>
Notebook.RenderNotebooks(notebooks);
// Share.RenderShareNotebooks(sharedUserInfos, shareNotebooks);
// Tag.renderTagNav(tagsJson);
</script>
</body>
</html>