*:focus {
	outline: none;
}

*,*:after,*:before {	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box;	padding: 0;	margin: 0;}

a:hover{
	text-decoration:none!important;
}


/*  div#sidebar, #sliderbar div, #content {*/
adiv
{
	display: block;
	overflow: hidden;
	position:relative;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
	letter-spacing:0px;
}

p > a {
	display: inline;
	text-decoration: none;
}

p > a:hover {
	text-decoration: underline;
}

p > span {
	display: inline;
}

span > a {
	display: inline;
}

a > span {
	display: inline;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*//////////////////////////////////////*/
/*Font Selection and General Font Colors*/
/*//////////////////////////////////////*/

body{
	font-family:'Open Sans', sans-serif;
	color:#666;
	line-height:20px;
}

/*////////////////////////*/
/*Other Classes and Resets*/
/*////////////////////////*/

.content{
	margin-left:20px;
	margin-right:20px;
}

.container{
	margin-bottom:20px;
}

.no-bottom{
	margin-bottom:0px;
}

.half-bottom{
	margin-bottom:10px;
}

.full-bottom{
	margin-bottom:20px;
}

.clear {
	clear: both;
	height: 0px;
	line-height: 0px;
}

.float-left{	 
	float:left;
	margin-right:3px;
	margin-bottom:10px;
}

.float-right{	
	float:right;
	margin-left:5px;
}

.right-text{	 
	text-align:right;
}

/*//////////////*/
/*Data Preloader*/
/*//////////////*/

#preloader {
	position:fixed;
	z-index:2500;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#FFF; 
	z-index:999999; 
}

#status {
	position:fixed;
	z-index:999999;
	width:250px;
	height:250px;
	position:absolute;
	left:50%; 
	top:50%; 
	background-image:url(../images/status.gif); 
	background-size:32px 32px;
	background-repeat:no-repeat;
	background-position:center;
	margin:-125px 0 0 -125px; 
}

#status p{
	top:60%;
}

#status em{
	font-size:10px!important;
	display:block;
	font-style:normal;
}

