.back-button {
  top: 10px;
  position: absolute;
}
.scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 168px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.topcoat-icon--back {
  background: url("images/back_light.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.count {
  color: #5DC1FF;
  position: absolute;
  right: 50px;
  top: 26px;
  font-weight: bold;
}
.search-bar {
  padding: 10px 10px 12px 8px;
}
.search-bar > input {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: #000000;
}
.details {
  margin: auto;
}
.details > img {
  float: left;
  margin: 10px;
  width: 80px;
  height: 80px;
}
.details h1 {
  padding: 12px 0px 4px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 1.2rem;
}
.details h2 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 1.1rem;
  font-weight: normal;
  color: #888;
}
.list {
  list-style-type: none;
}
.list > li {
  position: relative;
  clear: both;
  padding: 0px;
  margin: 0px;
}
.list > li:nth-of-type(1) {
  border-top: none;
}
.list > li > a {
  margin: 0px;
  display: block;
  height: 57px;
  line-height: 57px;
  padding-left: 20px;
}
.list > li > a > p:nth-of-type(1) {
  margin: 8px 0px 0px 0px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list > li p:nth-of-type(2) {
  margin: 0px;
  color: #777;
}
.list > li img {
  width: 57px;
  height: 57px;
  float: left;
  margin-right: 8px;
}
.list li:active {
  background-color: #d6d6d6;
}
.actions > li > a {
  padding-left: 12px;
}
.action-icon {
  position: absolute !important;
  top: 18px;
  right: 20px !important;
  width: 28px !important;
  height: 28px;
}
.actions li p:nth-of-type(1) {
  color: #5DC1FF;
  font-size: 0.9em;
  font-weight: lighter;
}
.actions li p:nth-of-type(2) {
  color: inherit;
}
ul {
  clear: both;
  border-top: none !important;
}
.icon-call {
  background: transparent url(images/call.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.icon-sms {
  background: transparent url(images/chat.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.icon-mail {
  background: transparent url(images/email.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.icon-manager {
  background: transparent url(images/next.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.icon-reports {
  background: transparent url(images/next.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.chevron {
  background: transparent url(images/next_blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 20px;
  height: 50px;
  width: 28px;
}
.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -ms-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.slide-left.ng-enter {
  z-index: 101;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.slide-left.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-left.ng-leave {
  z-index: 100;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-left.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-right.ng-enter {
  z-index: 100;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-right.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-right.ng-leave {
  z-index: 101;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-right.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.page-content {
  background-color: #FFFFFF;
  z-index: 10;
  display: block;
  position: absolute;
  min-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.page-sidebar {
  width: 262px;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  position: fixed;
}
/* life */
.bar-left,
.bar-right,
.bar-center {
  position: absolute;
  text-align: center;
  line-height: 3.375rem;
  display: inline-block;
}
.bar-center {
  left: 50px;
  right: 50px;
  top: 0;
}
.bar-left {
  left: 10px;
  top: 3px;
}
.bar-right {
  right: 10px;
  top: 3px;
}
.bar-left i,
.bar-right i {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  line-height: 2.2rem;
  height: 2.2rem;
  width: 2.2rem;
  letter-spacing: 1px;
  color: #454545;
  border-radius: 6px;
}
.bar-left i:hover,
.bar-right i:hover {
  text-shadow: 0 1px #fff;
  border: 1px solid #9daca9;
  box-shadow: inset 0 1px #fff;
  background-color: #eff1f1;
}
#noteContent {
  padding: 10px;
  margin-top: 50px;
  background-color: #fff;
}
#noteContent * {
  font-size: 16px;
}
#noteContent pre {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  overflow: hidden;
}
#sidebar {
  padding: 10px;
  font-size: 16px;
}
#sidebar h1 {
  font-size: 24px;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li {
  line-height: 3em;
  padding-left: 10px;
  width: 60%;
  border-bottom: 1px solid #9daca9;
  cursor: pointer;
}
#sidebar footer {
  line-height: 3em;
  padding-left: 10px;
  margin-top: 10px;
}
.topcoat-navigation-bar {
  height: 3.375rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.search-bar {
  margin-top: 3.375em;
}
