.info-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 30px;
  padding-left: 5px;
  height: 30px;
  display: none;
}
.info-toolbar .toolbar-update {
  color: inherit;
  float: right;
  padding: 0 10px;
}
.info-toolbar .toolbar-update:hover {
  background: #fff;
  color: #000;
}
.info-toolbar .created-time {
  display: inline-block;
  padding-right: 10px;
}
#editorContent {
  -webkit-user-select: text;
}
#editor.read-only #mceToolbarContainer {
  display: none;
}
#editor.read-only .info-toolbar {
  display: block;
}
#note.read-only #editor,
#note.read-only #mdEditor {
  top: 60px;
}
#note.read-only #tool {
  display: none;
}
#note.read-only .toolbar-update {
  display: none;
}
#note.read-only #noteReadTop {
  display: block;
}
#note.read-only #infoToolbar,
#note.read-only #mceToolbar,
#note.read-only .navbar {
  display: none;
}
#note.read-only #editorContent,
#note.read-only #mdEditor .layout-wrapper-l3 {
  top: 0;
}
#noteRead {
  position: absolute;
  left: 5px;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 100;
  padding-left: 5px;
  background-color: #fff;
}
#noteReadTop {
  position: absolute;
  height: 60px;
  left: 5px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  background: #fff;
  padding-left: 5px;
}
#noteReadTitle {
  margin: 3px 0;
  height: 26px;
}
