

#left-column
{
	width: 60%;
}
#right-column {
	width: 40%;
}

.wmd-panel-editor, .wmd-panel-preview {
    padding-left: 20px;
    padding-right: 20px;
}

/* font-size, font-family and line-height of .wmd-input and #md-section-helper should be totally same, otherwise, there will be mismatch. */
#wmd-input, .preview-container {
	height: 300px;
}
.wmd-input, .wmd-input:focus, #md-section-helper
{ 
	width: 100%;
	border: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    font-size: 16px;
    line-height: 27px;
    resize: none;
    overflow-x: hidden;
}

#md-section-helper {
    position: absolute;
    top: -100px;
    height: 40px;
    overflow-y: scroll;
    padding: 0 6px;
    top: -100px;
    z-index: -1;
}

.preview-container {
    overflow: auto;
}

.wmd-preview { 
	width: 100%;
    font-size: 16px;
    line-height: 27px;
    overflow: auto;
    border: 2px dashed #BBBBBB;
    padding-left: 5px;
    padding-right: 5px;
}

.wmd-button-row, .preview-button-row
{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: auto;
}

.wmd-spacer
{
	width: 0px; 
	height: 20px; 
	margin-left: 30px;

	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button, .preview-button {
    width: 20px;
    height: 20px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    font-size: 17px;
}

.wmd-button {
    margin-left: 10px;
}

.preview-button {
    margin-right: 10px;
}

.wmd-button > span, .preview-button > span {
    width: 20px;
    height: 20px;
    display: inline-block;
}