<!DOCTYPE html>
<html lang="en" class="app">
<head>
	<meta charset="utf-8" />
	<title>
		{{.title}}
	</title>
	<meta name="description" content="leanote member center"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link href="/css/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
	<link href="/public/admin/css/bootstrap.3.2.0.min.css" rel="stylesheet">
	<link href="/public/member/css/member.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="/public/admin/js/ie/html5shiv.js"></script>
		<script src="/public/admin/js/ie/respond.min.js"></script>
		<script src="/public/admin/js/ie/excanvas.js"></script>
	<![endif]-->
</head>
<body class="">
	<section class="vbox">
		<header class="bg-dark dk header navbar navbar-fixed-top-xs">
			<div class="navbar-header aside-md" id="logo">
				<a href="/member" class="navbar-brand clearfix" data-toggle="fullscreen">
					<span class="logo-icon"></span>
					<span class="logo-title">{{msg . "memberCenter"}}</span>
				</a>
			</div>
			
			<ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
				<li class="hidden-xs">
					<a href="/note" class="dk" target="_blank">
						{{msg . "myNote"}}
					</a>
				</li>
				<li class="hidden-xs">
					<a href="/blog/{{$.session.Username}}" class="dk" target="_blank">
						{{msg . "myBlog"}}
					</a>
				</li>
				<li class="hidden-xs">
					<a href="/logout" class="dk">
						{{msg . "logout"}}
					</a>
				</li>
				<li class="hidden-xs">
					<img alt="{{.userInfo.Username}}" title="{{.userInfo.Username}}" src="{{if .userInfo.Logo}}{{.userInfo.Logo}}{{else}}/images/blog/default_avatar.png{{end}}" id="myAvatar"/>
				</li>
			</ul>
		</header>
		<section>
			<section class="hbox stretch">
				<!-- .aside -->
				<aside class="bg-light lter b-r aside-md hidden-print" id="nav">
					<section class="vbox">
						<!--
						<header class="header bg-primary lter text-center clearfix">
							<div class="btn-group">
								<div class="hidden-nav-xs">
									<a class="btn btn-sm btn-primary">
										Welcome, admin!
									</a>
								</div>
							</div>
						</header>
						-->
	
						<section class="w-f scrollable">
							<div class="slim-scroll" data-height="auto" data-disable-fade-out="true"
							data-distance="0" data-size="5px" data-color="#333333">
								<!-- nav -->
								{{template "member/nav.html" .}}
								<!-- / nav -->
							</div>
						</section>
						<footer class="footer lt hidden-xs b-t b-light" style="min-height: initial;
padding: 10px 15px;text-align:center;">
							<a href="http://leanote.com" target="_blank">leanote</a> © 2015
							<!--
							<a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-default btn-icon">
								<i class="fa fa-angle-left text">
								</i>
								<i class="fa fa-angle-right text-active">
								</i>
							</a>
							-->
						</footer>
					</section>
				</aside>
				<!-- /.aside -->
				<section id="content">
					<section class="vbox">
						<section class="scrollable padder">
							<!-- 导航 
							<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
								<li>
									<a href="index.html">
										<i class="fa fa-home">
										</i>
										Home
									</a>
								</li>
								<li>
									<a href="#">
										Elements
									</a>
								</li>
								<li class="active">
									Components
								</li>
							</ul>
							-->
							<!-- 主要内容区 -->
							
