{{template "Blog/header.html" .}}

<div id="postsContainer">
	<div class="container">
		{{if .notebookId}}
		<h2>{{msg . "blogClass"}}: {{.notebook.Title}}</h2>
		{{end}}
	</div>
	<div id="posts">
		{{$G := .}}
		{{range .blogs}}
		<div class="each-post">
			<div class="title">
				<a href="/blog/view/{{.NoteId.Hex}}" title="{{msg $G "fullBlog"}}">
					{{.Title}}
				</a>
			</div>
			<div class="created-time">
				<i class="fa fa-bookmark-o" style="color: #666"></i>
				{{if .Tags}} 
					{{blogTags .Tags}}
				{{else}}
					{{msg $G "noTag"}}
				{{end}}
				|
				<i class="fa fa-calendar" style="color: #666"></i> {{msg $G "updatedTime"}} {{.UpdatedTime | datetime}} | 
				<i class="fa fa-calendar" style="color: #666"></i> {{msg $G "createdTime"}} {{.CreatedTime | datetime}}
			</div>
			<div class="desc">
				{{.Content | raw}}
			</div>
			<a class="more" href="/blog/view/{{.NoteId.Hex}}" title="{{msg $G "fullBlog"}}">More...</a>
		</div>
		{{end}}
		<!-- 分页 -->
		<ul class="pager">
			{{page .userInfo.Username .notebookId .page .pageSize .count}}
		</ul>
	</div>
</div>

{{template "Blog/footer.html" .}}
{{template "Blog/highlight.html"}}
</body>
</html>