<div id="footerContainer">
	{{$userId := .userBlog.UserId.Hex}}
	<div class="container" id="footer">
        <div class="col-md-4">
          <h3>{{msg . "blogNavs"}}</h3>
          <ul>
          	<li><a href="{{$.blogUrl}}/{{$.userInfo.Username}}">{{msg . "home"}}</a></li>
          	{{range .notebooks}}
			<li>
				<a href="{{$.cateUrl}}/{{.NotebookId}}">{{.Title}}</a>
			</li>
			{{end}}
          	<li><a href="{{$.aboutMeUrl}}">{{msg . "aboutMe"}}</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>{{msg . "latestPosts"}}</h3>
          <ul>
          	{{range .recentBlogs}}
          	<li title="{{.Title}}"><a href="{{$.blogUrl}}/view/{{.NoteId.Hex}}/">{{.Title}}</a></li>
          	{{end}}
          </ul>
       </div>
        <div class="col-md-4">
          <h3>{{msg . "quickLinks"}}</h3>
          <ul>
			<li><a href="{{$.noteUrl}}">{{msg . "myNote"}}</a></li>
			<li><a href="{{$.siteUrl}}/login">leanote {{msg . "login"}}</a></li>
			<li><a href="http://leanote.com" target="_blank">leanote {{msg . "home"}}</a></li>
			<li><a href="http://lea.leanote.com" target="_blank">lea++</a></li>
			<li><a href="http://bbs.leanote.com" target="_blank">leanote {{msg . "community"}}</a></li>
			<li><a href="https://github.com/leanote/leanote" target="_blank">leanote github</a></li>
		 </ul>
        </div>
    </div>
</div>
<script src="{{$.jQueryUrl}}"></script>
<script src="{{$.bootstrapJsUrl}}"></script>
<script src="{{$.siteUrl}}/js/bootstrap-hover-dropdown.js"></script>
<script src="{{$.siteUrl}}/js/i18n/blog.{{.locale}}.js"></script>

<script>
// 搜索
function search(e) {
	var keywords = $("#searchInput").val();
	if(!keywords) {
		location.href = "{{$.searchUrl}}";
	} else {
		var tpl = '<form action="{{$.searchUrl}}" method="get">';
		tpl += '<input name="keywords" value="' + keywords + '" />';
		tpl += "</form";
		$(tpl).submit();
	}
}
</script>
