html {
  margin-top: 3px;
  padding: 3px;
  border: 1px solid #ebeff2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border-width: 1px;
  box-shadow: none;
}
* {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
